In [1]:
import pandas as pd
import numpy as np
import csv
import json
import datetime as dt

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [3]:
def json2csv(json_name, csv_name, key):
    with open(json_name) as json_file:
        data = json.load(json_file)
    transaction_data = data[key]
    data_file = open(csv_name, 'w') 
    csv_writer = csv.writer(data_file)
    count = 0
    for tran in transaction_data:
        if count == 0: 
            # Writing headers of CSV file 
            header = tran.keys()
            csv_writer.writerow(header) 
            count += 1
        # Writing data of CSV file 
        csv_writer.writerow(tran.values())
    data_file.close()

In [4]:
json2csv('fish102.json', 'fish102.csv', 'fiData')

In [5]:
df = pd.read_csv('fish102.csv')

In [6]:
df

,transactionTimestamp,txnId,mode,amount,balance,type,narration,reference,valueDate
0,2019-12-19T07:50:14.000Z,M3258741,UPI,1239.00,62289.25,DEBIT,UPI/935314560764/getsimpl/simpl@axisbank/Axis Bank,RFN00013383,2019-12-19
1,2019-12-20T13:26:12.000Z,M3917183,UPI,16.00,62073.25,DEBIT,UPI/935418465214/On tapping Pay/AMZN0002966107@/St,RFN00038195,2019-12-20
2,2019-12-21T03:44:47.000Z,M4246404,UPI,1432.00,60641.25,DEBIT,UPI/935511799557/On tapping Pay/ola.money1@axis/Ax,RFN00050601,2019-12-21
3,2019-12-21T10:39:04.000Z,M5563288,OTHERS,710.50,45595.49,DEBIT,VIN/BBBP Bengal/201912220356/935522425140/,RFN00100225,2019-12-21
4,2019-12-22T04:44:59.000Z,M5892509,CARD,4101.00,41494.49,DEBIT,BIL/ONL/001876585007/State Bank/SBICARD_RICI833/SB,RFN00112631,2019-12-22
5,2019-12-22T04:48:12.000Z,M6221730,OTHERS,200.00,41294.49,DEBIT,GIB/000044233050/STAX /63900042212201900058,RFN00125037,2019-12-22
6,2019-12-25T06:04:44.000Z,M6550951,ATM,10000.00,31294.49,DEBIT,ATM/SECNQ998/CASH WDL/25-12-19,RFN00137443,2019-12-25
7,2019-12-30T03:01:47.000Z,M6880172,FT,2138.00,29156.49,DEBIT,ACH/TP Kotak Life Ins/1791288292,RFN00149849,2019-12-30
8,2019-12-30T04:26:44.000Z,M7209393,FT,330.00,28826.49,DEBIT,VIN/SWIGGY /201912301322/936407439400/,RFN00162255,2019-12-30
9,2019-12-30T07:45:04.000Z,M7867835,OTHERS,518.00,27228.49,CREDIT,000501523329:Int.Pd:30-09-2019 to 30-12-2019,RFN00187067,2019-12-30
10,2020-01-01T11:06:47.000Z,M8526277,FT,2097.44,24769.05,DEBIT,VIN/IRCTC /202001012059/000115145689/,RFN00211879,2020-01-01
11,2020-01-03T05:22:51.000Z,M9513940,FT,2024.55,22576.50,DEBIT,ACH/TP ExideLife/INGLife/1793513439,RFN00249097,2020-01-03
12,2020-01-04T19:43:17.000Z,M10501603,CARD,1297.00,21193.50,DEBIT,VPS/SWATHI HOSP/202001051605/000510633940/BANGALOR,RFN00286315,2020-01-05
13,2020-01-04T20:32:25.000Z,M11160045,CASH,5000.00,16176.50,DEBIT,NFS/KBL18213/CASH WDL/05-01-20,RFN00311127,2020-01-05
14,2020-01-06T17:41:18.000Z,M11489266,FT,5000.00,11176.50,DEBIT,BIL/BPAY/001888932102/BSE ISIP/BSE000000034260,RFN00323533,2020-01-06
15,2020-01-07T00:52:27.000Z,M11818487,FT,5000.00,6176.50,DEBIT,BIL/BPAY/001889944243/BSE ISIP/BSE000000034260,RFN00335939,2020-01-07
16,2020-01-07T01:53:34.000Z,M12147708,FT,5000.00,1176.50,DEBIT,BIL/BPAY/001889918950/MOTILAL OS/MODIRECT-B02925,RFN00348345,2020-01-07
17,2020-01-07T14:55:32.000Z,M12806150,FT,3062.00,3114.50,DEBIT,CMS/000599599606/AD_LIC__648652702,RFN00373157,2020-01-07
18,2020-01-09T01:23:11.000Z,M14452255,FT,464.00,31916.50,DEBIT,VIN/DISH TV IND/202001091516/000909100480/,RFN00435187,2020-01-09
19,2020-01-09T01:31:17.000Z,M14781476,FT,50000.00,81916.50,CREDIT,BIL/INFT/001892335260/,RFN00447593,2020-01-09
20,2020-01-10T02:41:17.000Z,M15110697,FT,30000.00,51916.50,DEBIT,ACH/HDFCLTD/245261499,RFN00459999,2020-01-10
21,2020-01-10T02:44:13.000Z,M15439918,CARD,935.18,50981.32,DEBIT,VPS/AIRPLAZA RE/202001110253/001021150009/BANGALOR,RFN00472405,2020-01-10
22,2020-01-11T17:37:17.000Z,M15769139,CARD,540.00,50441.32,DEBIT,IPS/SAI SARVANA/202001112152/000000000526/BANGALOR,RFN00484811,2020-01-11
23,2020-01-11T18:42:22.000Z,M16098360,UPI,50.00,50391.32,DEBIT,UPI/001210722616/Collect/resident.uidai./HDFC BANK,RFN00497217,2020-01-12
24,2020-01-11T18:55:16.000Z,M16427581,FT,150000.00,200391.32,CREDIT,SAL FINTECH PRODUCTS and SOLUTIONS DEC 2019,RFN00509623,2020-01-12
25,2020-01-11T19:03:36.000Z,M16756802,FT,50000.00,150391.32,DEBIT,BIL/INFT/001894593460/,RFN00522029,2020-01-12
26,2020-01-11T19:15:47.000Z,M17086023,FT,12000.00,138391.32,DEBIT,MMT/IMPS/001211772937/Car Loan EMI/AKSHAY KUMAR /SBIN,RFN00534435,2020-01-12
27,2020-01-11T19:31:57.000Z,M17415244,FT,12600.00,125791.32,DEBIT,MMT/IMPS/001211775491/Rent Jan 2020/SAILAKSHMI/HDF,RFN00546841,2020-01-12
28,2020-01-11T19:56:54.000Z,M18073686,FT,24827.00,98564.32,DEBIT,MMT/IMPS/001212834904/HDFC CC PMT/HDFC CREDI/HDFC0,RFN00571653,2020-01-12
29,2020-01-11T20:25:33.000Z,M19390570,ATM,10000.00,86051.82,DEBIT,ATM/SPCND430/CASH WDL/12-01-20,RFN00621277,2020-01-12
30,2020-01-15T11:40:10.000Z,M20049012,UPI,1000.00,84991.82,DEBIT,UPI/001520932727/Easebuzz/easebuzz.nbfc@h/HDFC BAN,RFN00646089,2020-01-15
31,2020-01-17T15:50:33.000Z,M20707454,CARD,280.00,84691.82,DEBIT,VPS/SRI MANJUNA/202001180407/001722830111/BANGALOR,RFN00670901,2020-01-17
32,2020-01-18T16:44:23.000Z,M21365896,FT,881.06,83760.76,DEBIT,VIN/Bigtree Ent/202001181624/001821423259/,RFN00695713,2020-01-18
33,2020-01-24T13:44:23.000Z,M23341222,CASH,5000.00,66926.76,DEBIT,NFS/40782067/CASH WDL/21-01-20,RFN00770149,2020-01-24
34,2020-01-26T13:48:44.000Z,M24328885,UPI,3041.91,63394.85,DEBIT,IPS/BIG BAZAAR /202001252118/000000023015/BANGALOR,RFN00807367,2020-01-26
35,2020-01-28T06:42:33.000Z,M24658106,UPI,203.00,63191.85,DEBIT,UPI/002611196768/On tapping Pay/freshmenu@ybl/Yes,RFN00819773,2020-01-28
36,2020-01-30T08:55:46.000Z,M24987327,FT,2138.00,61053.85,DEBIT,ACH/TP Kotak Life Ins/1800525191,RFN00832179,2020-01-30
37,2020-01-31T09:13:19.000Z,M25645769,CARD,300.00,60728.85,DEBIT,VPS/PREMIER SER/202001302249/003017151561/BANGALOR,RFN00856991,2020-01-31
38,2020-02-01T04:40:36.000Z,M26304211,UPI,20.00,59728.85,DEBIT,UPI/003157736639/On tapping Pay/BHARATPE.904135/IC,RFN00881803,2020-02-01
39,2020-02-02T03:44:35.000Z,M26962653,CASH,5000.00,54568.85,DEBIT,NFS/SWCW5580/CASH WDL/01-02-20,RFN00906615,2020-02-02
40,2020-02-02T05:48:49.000Z,M27291874,FT,5266.26,49302.59,DEBIT,BIL/INFT/001910188793/ICICI CC PMT/Self,RFN00919021,2020-02-02
41,2020-02-03T05:59:56.000Z,M27621095,CARD,833.00,48469.59,DEBIT,BIL/ONL/001910495836/State Bank/SBICARD_RICI848/SB,RFN00931427,2020-02-03
42,2020-02-03T06:25:55.000Z,M28279537,FT,2024.55,46295.04,DEBIT,ACH/TP ExideLife/INGLife/1802506498,RFN00956239,2020-02-03
43,2020-02-05T05:48:49.000Z,M28937979,CARD,399.00,45898.29,DEBIT,VPS/SWATHI HOSP/202002041509/003509590219/BANGALOR,RFN00981051,2020-02-05
44,2020-02-05T06:52:32.000Z,M29267200,FT,5000.00,40898.29,DEBIT,BIL/BPAY/001913373631/BSE ISIP/BSE000000034260,RFN00993457,2020-02-05
45,2020-02-07T11:03:47.000Z,M29596421,CASH,10000.00,30898.29,DEBIT,NFS/40782067/CASH WDL/05-02-20,RFN01005863,2020-02-07
46,2020-02-07T11:08:17.000Z,M29925642,FT,5000.00,25898.29,DEBIT,BIL/BPAY/001915367034/MOTILAL OS/MODIRECT-B02925,RFN01018269,2020-02-07
47,2020-02-07T11:09:55.000Z,M30254863,FT,5000.00,20898.29,DEBIT,BIL/BPAY/001915358808/BSE ISIP/BSE000000034260,RFN01030675,2020-02-07
48,2020-02-08T07:44:47.000Z,M30584084,FT,3062.00,17836.29,DEBIT,CMS/000611711611/AD_LIC__648652702,RFN01043081,2020-02-08
49,2020-02-08T08:58:54.000Z,M30913305,FT,464.00,17372.29,DEBIT,BIL/ONL/001916614369/Dish Infra/109767039469-10/DI,RFN01055487,2020-02-08
50,2020-02-08T10:28:12.000Z,M31242526,FT,100.00,17272.29,DEBIT,BIL/ONL/001916723481/Bharti Air/airtel11karprep/Ai,RFN01067893,2020-02-08
51,2020-02-08T10:39:24.000Z,M31571747,FT,150000.00,167272.29,CREDIT,SAL FINTECH PRODUCTS and SOLUTIONS JAN 2020,RFN01080299,2020-02-08
52,2020-02-08T11:44:23.000Z,M31900968,FT,12000.00,155272.29,DEBIT,MMT/IMPS/003917379724/Twds Car EMI/AKSHAY KUMAR /SBIN,RFN01092705,2020-02-08
53,2020-02-08T13:02:05.000Z,M32230189,FT,15000.00,140272.29,DEBIT,MMT/IMPS/003917381129/Rent Feb 2020/SAILAKSHMI/HDF,RFN01105111,2020-02-08
54,2020-02-08T13:50:21.000Z,M32559410,FT,9095.00,131177.29,DEBIT,MMT/IMPS/003917401747/HDFC CC PMT/HDFC CREDI/HDFC0,RFN01117517,2020-02-08
55,2020-02-09T18:41:01.000Z,M34205515,CARD,2656.00,121058.29,DEBIT,VPS/UTH FASHION/202002092044/004015649751/BANGALOR,RFN01179547,2020-02-10
56,2020-02-09T19:32:09.000Z,M34534736,FT,30000.00,91058.29,DEBIT,ACH/HDFCLTD/247295911,RFN01191953,2020-02-10
57,2020-02-12T21:41:12.000Z,M35193178,CARD,2187.00,87500.29,DEBIT,VPS/LEVITATE BR/202002112208/004216049503/BANGALOR,RFN01216765,2020-02-13
58,2020-02-13T22:45:43.000Z,M35522399,CASH,300.00,87200.29,DEBIT,NFS/01626621/CASH WDL/13-02-20,RFN01229171,2020-02-14
59,2020-02-16T00:47:36.000Z,M36180841,FT,20000.71,67005.58,DEBIT,BIL/ONL/001922566340/NPS Trust/XBCMFNPS_RICI85/NPS,RFN01253983,2020-02-16
60,2020-02-21T07:23:13.000Z,M39143830,CARD,165.00,64574.58,DEBIT,VPS/MARIYA MART/202002212105/005215700989/BENGALUR,RFN01365637,2020-02-21
61,2020-02-22T07:59:47.000Z,M39802272,CASH,10000.00,53509.58,DEBIT,NFS/SWCW5580/CASH WDL/22-02-20,RFN01390449,2020-02-22
62,2020-02-22T08:00:11.000Z,M40131493,UPI,928.55,52581.03,DEBIT,UPI/005321449659/Zomato payment/zomato-order@pa/Pa,RFN01402855,2020-02-22
63,2020-02-27T09:42:02.000Z,M40789935,FT,496.00,52090.03,DEBIT,VIN/WWW OLACABS/202002261039/005705021876/,RFN01427667,2020-02-27
64,2020-02-28T11:06:19.000Z,M41119156,CARD,170.00,51920.03,DEBIT,VPS/ROLLS ON WH/202002271409/005808024752/BANGALOR,RFN01440073,2020-02-28
65,2020-02-29T12:15:28.000Z,M41777598,FT,2138.00,49712.03,DEBIT,ACH/TP Kotak Life Ins/1811082917,RFN01464885,2020-02-29
66,2020-03-03T01:49:47.000Z,M43423703,FT,2024.55,46947.48,DEBIT,ACH/TP ExideLife/INGLife/1812475429,RFN01526915,2020-03-03
67,2020-03-04T03:41:44.000Z,M44082145,CARD,10000.00,36797.48,DEBIT,NFS/40782067/CASH WDL/03-03-20,RFN01551727,2020-03-04
68,2020-03-04T03:47:46.000Z,M44411366,FT,100000.00,136797.48,CREDIT,SAL FINTECH PRODUCTS and SOLUTIONS MAR 2020,RFN01564133,2020-03-04
69,2020-03-07T02:39:17.000Z,M45069808,FT,5000.00,131235.48,DEBIT,BIL/BPAY/001937764765/BSE ISIP/BSE000000034260,RFN01588945,2020-03-07
70,2020-03-07T02:44:47.000Z,M45399029,FT,5000.00,126235.48,DEBIT,BIL/BPAY/001939911220/MOTILAL OS/MODIRECT-B02925,RFN01601351,2020-03-07
71,2020-03-07T04:01:44.000Z,M45728250,FT,3561.26,122674.22,DEBIT,BIL/INFT/001940171101/ICICI CC PMT/Self,RFN01613757,2020-03-07
72,2020-03-07T05:03:37.000Z,M46057471,FT,15000.00,107674.22,DEBIT,MMT/IMPS/006711568031/Rent,RFN01626163,2020-03-07
73,2020-03-07T05:09:11.000Z,M46386692,FT,12000.00,95674.22,DEBIT,MMT/IMPS/006711573661/Car Loan EMI/SBIN,RFN01638569,2020-03-07
74,2020-03-07T09:44:35.000Z,M46715913,FT,17000.00,78674.22,DEBIT,BIL/INFT/001940175419/,RFN01650975,2020-03-07
75,2020-03-07T10:08:47.000Z,M47045134,FT,8559.00,70115.22,DEBIT,MMT/IMPS/006712597972/HDFC CC PMT/HDFC CREDI/HDFC0,RFN01663381,2020-03-07
76,2020-03-07T10:19:21.000Z,M47374355,FT,50000.00,120115.22,CREDIT,MMT/IMPS/006712781113/TRANSFER TO SEL/AKSHAY KU/C,RFN01675787,2020-03-07
77,2020-03-07T10:44:33.000Z,M47703576,FT,6336.00,113779.22,DEBIT,VIN/EASEMYTRIP /202003071359/006719220700/,RFN01688193,2020-03-07
78,2020-03-07T11:08:33.000Z,M48032797,OTHERS,3062.00,110717.22,DEBIT,CMS/000624000438/AD_LIC__648652702,RFN01700599,2020-03-07
79,2020-03-07T11:39:44.000Z,M48362018,FT,442.00,110275.22,DEBIT,IIN/I-Debit/DISH INFRA /202003071657/006701016468/,RFN01713005,2020-03-07
80,2020-03-10T03:44:10.000Z,M49678902,FT,7534.00,99586.12,DEBIT,VIN/EASEMYTRIP /202003082121/006902048650/,RFN01762629,2020-03-10
81,2020-03-11T14:46:54.000Z,M50008123,FT,5000.00,94586.12,DEBIT,BIL/BPAY/001941514032/BSE ISIP/BSE000000034260,RFN01775035,2020-03-11
82,2020-03-14T04:54:18.000Z,M50337344,FT,30000.00,64586.12,DEBIT,ACH/HDFCLTD/249354424,RFN01787441,2020-03-14
83,2020-03-16T09:17:48.000Z,M50995786,UPI,600.00,63846.12,DEBIT,UPI/007420114201/Dentist/gpay-1116609841/Axis Bank,RFN01812253,2020-03-16
84,2020-03-16T09:49:46.000Z,M51325007,ATM,10000.00,53846.12,DEBIT,ATM/SPCNF280/CASH WDL/14-03-20,RFN01824659,2020-03-16
85,2020-03-18T02:45:48.000Z,M51654228,FT,39104.24,92950.36,CREDIT,NEFT-SBIN420076198612-PRINCIPAL MUTUAL FUND-/ATTN//INB-,RFN01837065,2020-03-18
86,2020-03-19T10:03:57.000Z,M51983449,FT,33070.22,126020.58,CREDIT,NEFT-CITIN20042002999-MOTILAL OSWAL MLTICP 35FUND RED A,RFN01849471,2020-03-19
87,2020-03-19T10:56:55.000Z,M52641891,FT,62438.37,187942.95,CREDIT,NEFT-SBIN220079143128-PRINCIPAL MUTUAL FUND-/ATTN//INB-,RFN01874283,2020-03-19
88,2020-03-19T11:09:11.000Z,M52971112,FT,106982.95,294925.90,CREDIT,NEFT-CITIN20043807506-MTL OSWL NASDQ 100 FUND OF FUND R,RFN01886689,2020-03-19
89,2020-03-21T05:45:33.000Z,M53300333,FT,150000.00,144925.90,DEBIT,SAL FINTECH PRODUCTS and SOLUTIONS FEB 2020,RFN01899095,2020-03-21
90,2020-03-25T17:46:11.000Z,M54946438,FT,1574.00,92291.82,DEBIT,BIL/ONL/001951605503/State Bank/SBICARD_SICI864/SB,RFN01961125,2020-03-25
91,2020-03-29T01:48:19.000Z,M56263322,CASH,10000.00,81601.46,DEBIT,NFS/KBL18213/CASH WDL/28-03-20,RFN02010749,2020-03-29
92,2020-03-30T14:44:19.000Z,M56921764,OTHERS,594.00,80996.46,CREDIT,000501523329:Int.Pd:31-12-2019 to 29-03-2020,RFN02035561,2020-03-30
93,2020-03-30T16:14:59.000Z,M57250985,FT,2138.00,78858.46,DEBIT,ACH/TP Kotak Life Ins/1819650671,RFN02047967,2020-03-30
94,2020-04-02T13:55:32.000Z,M57580206,CARD,1575.00,77283.46,DEBIT,VPS/MARIYA MART/202003301618/009010507447/BENGALUR,RFN02060373,2020-04-02
95,2020-04-07T15:58:12.000Z,M58238648,FT,503.00,76600.46,DEBIT,VIN/DISH TV IND/202004022210/009316172254/,RFN02085185,2020-04-07
96,2020-04-07T16:30:25.000Z,M58897090,FT,2024.55,74425.91,DEBIT,ACH/TP ExideLife/INGLife/1821585640,RFN02109997,2020-04-07
97,2020-04-07T16:53:11.000Z,M59226311,FT,5000.00,69425.91,DEBIT,BIL/BPAY/001962606701/BSE ISIP/BSE000000034260,RFN02122403,2020-04-07
98,2020-04-07T17:31:18.000Z,M59555532,FT,5000.00,64425.91,DEBIT,BIL/BPAY/001962608700/MOTILAL OS/MODIRECT-B02925,RFN02134809,2020-04-07
99,2020-04-08T06:52:07.000Z,M59884753,FT,5000.00,59425.91,DEBIT,BIL/BPAY/001962559893/BSE ISIP/BSE000000034260,RFN02147215,2020-04-08
100,2020-04-08T09:17:18.000Z,M60543195,OTHERS,3062.00,56450.47,DEBIT,CMS/000634264039/AD_LIC__648652702,RFN02172027,2020-04-08
101,2020-04-08T09:27:53.000Z,M60872416,FT,974.00,55476.47,DEBIT,BIL/ONL/001963344975/Easy Trip /wwweasemytripco/Fl,RFN02184433,2020-04-08
102,2020-04-08T13:55:46.000Z,M61201637,FT,15408.00,40068.47,DEBIT,MMT/IMPS/009900364262/Credit Card/HDFC CREDI/HDFC0,RFN02196839,2020-04-08
103,2020-04-09T17:39:17.000Z,M61530858,FT,100000.00,140068.47,CREDIT,SAL FINTECH PRODUCTS and SOLUTIONS MAR 2020,RFN02209245,2020-04-09
104,2020-04-09T17:44:28.000Z,M61860079,FT,15000.00,125068.47,DEBIT,MMT/IMPS/009900356311/Rent/SAILAKSHMI/HDFC0000847,RFN02221651,2020-04-09
105,2020-04-09T17:58:42.000Z,M62189300,FT,12000.00,115068.47,DEBIT,MMT/IMPS/009900355713/For car loan EMI/SBIN,RFN02234057,2020-04-09
106,2020-04-25T11:45:18.000Z,M64164626,FT,30000.00,69343.47,DEBIT,ACH/HDFCLTD/251443203,RFN02308493,2020-04-25
107,2020-05-02T14:46:54.000Z,M66469173,FT,3294.00,64190.97,DEBIT,BIL/ONL/001973684380/State Bank/SBICARD_SICI874/SB,RFN02395335,2020-05-02
108,2020-05-04T05:52:57.000Z,M67127615,FT,2138.00,61962.97,DEBIT,ACH/TP Kotak Life Ins/1826771816,RFN02420147,2020-05-04
109,2020-05-06T09:45:45.000Z,M68444499,FT,2024.55,59243.42,DEBIT,ACH/TP ExideLife/INGLife/1827934796,RFN02469771,2020-05-06
110,2020-05-07T06:38:19.000Z,M68773720,FT,150000.00,159243.42,CREDIT,SAL FINTECH PRODUCTS and SOLUTIONS APR 2020,RFN02482177,2020-05-07
111,2020-05-09T13:03:56.000Z,M69761383,FT,5000.00,147857.42,DEBIT,BIL/BPAY/001982030055/BSE ISIP/BSE000000034260,RFN02519395,2020-05-09
112,2020-05-09T13:42:12.000Z,M70090604,OTHERS,3062.00,144795.42,DEBIT,CMS/000641754365/AD_LIC__648652702,RFN02531801,2020-05-09
113,2020-05-09T14:35:12.000Z,M70419825,FT,12000.00,135795.42,DEBIT,MMT/IMPS/012923807671/For Car Loan/SBIN,RFN02544207,2020-05-09
114,2020-10-05T17:41:19.000Z,M70749046,FT,9000.00,131053.42,DEBIT,BIL/001983772909/ICICI BANK CREDIT CA/524193208676,RFN02556613,2020-05-10
115,2020-05-11T16:48:15.000Z,M71078267,FT,4742.00,115657.42,DEBIT,MMT/IMPS/013019273318/HDFC CC PMT/HDFC CREDI/HDFC0,RFN02569019,2020-05-11
116,2020-05-15T15:50:37.000Z,M71407488,FT,15000.00,100657.42,DEBIT,MMT/IMPS/013019275684/Rent May 2020/SAILAKSHMI/HDF,RFN02581425,2020-05-15
117,2020-05-19T13:55:32.000Z,M72065930,FT,30000.00,70600.42,DEBIT,ACH/HDFCLTD/253928436,RFN02606237,2020-05-19
118,2020-05-24T05:43:26.000Z,M73712035,OTHERS,12.00,68415.42,DEBIT,PMSBY RENEWAL PREMIUM FY 21,RFN02668267,2020-05-24
119,2020-05-25T08:47:37.000Z,M74041256,FT,4058.00,64357.42,DEBIT,BIL/001992356805/ICICI BANK CREDIT CA/431581009199,RFN02680673,2020-05-25
120,2020-06-03T11:47:18.000Z,M75358140,FT,2138.00,61125.42,DEBIT,ACH/TP Kotak Life Ins/1832189136,RFN02730297,2020-06-03
121,2020-06-04T07:56:11.000Z,M76675024,FT,2024.55,50851.87,DEBIT,ACH/TP ExideLife/INGLife/1834310500,RFN02779921,2020-06-04
122,2020-06-08T13:05:14.000Z,M77333466,FT,100000.00,141851.87,CREDIT,SAL FINTECH PRODUCTS and SOLUTIONS MAY 2020,RFN02804733,2020-06-08
123,2020-06-11T02:28:36.000Z,M77991908,FT,3000.00,133851.87,DEBIT,BIL/BPAY/002001526478/BSE ISIP/BSE000000034260,RFN02829545,2020-06-11
124,2020-06-11T02:39:17.000Z,M78321129,OTHERS,3062.00,130789.87,DEBIT,CMS/000651994446/AD_LIC__648652702,RFN02841951,2020-06-11
125,2020-06-11T03:41:45.000Z,M78650350,FT,30000.00,100789.87,DEBIT,ACH/HDFCLTD/256070866,RFN02854357,2020-06-11
126,2020-06-13T02:45:48.000Z,M78979571,FT,16037.22,116827.09,CREDIT,NEFT-SBIN120163800892-PRINCIPAL MUTUAL FUND-/ATTN//INB-,RFN02866763,2020-06-13
127,2020-06-15T22:24:00.000Z,M79308792,FT,15691.88,132518.97,CREDIT,NEFT-CITIN20080903889-MOTILAL OSWAL MLTICP 35FUND RED A,RFN02879169,2020-06-16

In [7]:
new_df = df.drop(["transactionTimestamp","balance","reference"],axis = 1)

In [8]:
new_df

,txnId,mode,amount,type,narration,valueDate
0,M3258741,UPI,1239.00,DEBIT,UPI/935314560764/getsimpl/simpl@axisbank/Axis Bank,2019-12-19
1,M3917183,UPI,16.00,DEBIT,UPI/935418465214/On tapping Pay/AMZN0002966107@/St,2019-12-20
2,M4246404,UPI,1432.00,DEBIT,UPI/935511799557/On tapping Pay/ola.money1@axis/Ax,2019-12-21
3,M5563288,OTHERS,710.50,DEBIT,VIN/BBBP Bengal/201912220356/935522425140/,2019-12-21
4,M5892509,CARD,4101.00,DEBIT,BIL/ONL/001876585007/State Bank/SBICARD_RICI833/SB,2019-12-22
5,M6221730,OTHERS,200.00,DEBIT,GIB/000044233050/STAX /63900042212201900058,2019-12-22
6,M6550951,ATM,10000.00,DEBIT,ATM/SECNQ998/CASH WDL/25-12-19,2019-12-25
7,M6880172,FT,2138.00,DEBIT,ACH/TP Kotak Life Ins/1791288292,2019-12-30
8,M7209393,FT,330.00,DEBIT,VIN/SWIGGY /201912301322/936407439400/,2019-12-30
9,M7867835,OTHERS,518.00,CREDIT,000501523329:Int.Pd:30-09-2019 to 30-12-2019,2019-12-30
10,M8526277,FT,2097.44,DEBIT,VIN/IRCTC /202001012059/000115145689/,2020-01-01
11,M9513940,FT,2024.55,DEBIT,ACH/TP ExideLife/INGLife/1793513439,2020-01-03
12,M10501603,CARD,1297.00,DEBIT,VPS/SWATHI HOSP/202001051605/000510633940/BANGALOR,2020-01-05
13,M11160045,CASH,5000.00,DEBIT,NFS/KBL18213/CASH WDL/05-01-20,2020-01-05
14,M11489266,FT,5000.00,DEBIT,BIL/BPAY/001888932102/BSE ISIP/BSE000000034260,2020-01-06
15,M11818487,FT,5000.00,DEBIT,BIL/BPAY/001889944243/BSE ISIP/BSE000000034260,2020-01-07
16,M12147708,FT,5000.00,DEBIT,BIL/BPAY/001889918950/MOTILAL OS/MODIRECT-B02925,2020-01-07
17,M12806150,FT,3062.00,DEBIT,CMS/000599599606/AD_LIC__648652702,2020-01-07
18,M14452255,FT,464.00,DEBIT,VIN/DISH TV IND/202001091516/000909100480/,2020-01-09
19,M14781476,FT,50000.00,CREDIT,BIL/INFT/001892335260/,2020-01-09
20,M15110697,FT,30000.00,DEBIT,ACH/HDFCLTD/245261499,2020-01-10
21,M15439918,CARD,935.18,DEBIT,VPS/AIRPLAZA RE/202001110253/001021150009/BANGALOR,2020-01-10
22,M15769139,CARD,540.00,DEBIT,IPS/SAI SARVANA/202001112152/000000000526/BANGALOR,2020-01-11
23,M16098360,UPI,50.00,DEBIT,UPI/001210722616/Collect/resident.uidai./HDFC BANK,2020-01-12
24,M16427581,FT,150000.00,CREDIT,SAL FINTECH PRODUCTS and SOLUTIONS DEC 2019,2020-01-12
25,M16756802,FT,50000.00,DEBIT,BIL/INFT/001894593460/,2020-01-12
26,M17086023,FT,12000.00,DEBIT,MMT/IMPS/001211772937/Car Loan EMI/AKSHAY KUMAR /SBIN,2020-01-12
27,M17415244,FT,12600.00,DEBIT,MMT/IMPS/001211775491/Rent Jan 2020/SAILAKSHMI/HDF,2020-01-12
28,M18073686,FT,24827.00,DEBIT,MMT/IMPS/001212834904/HDFC CC PMT/HDFC CREDI/HDFC0,2020-01-12
29,M19390570,ATM,10000.00,DEBIT,ATM/SPCND430/CASH WDL/12-01-20,2020-01-12
30,M20049012,UPI,1000.00,DEBIT,UPI/001520932727/Easebuzz/easebuzz.nbfc@h/HDFC BAN,2020-01-15
31,M20707454,CARD,280.00,DEBIT,VPS/SRI MANJUNA/202001180407/001722830111/BANGALOR,2020-01-17
32,M21365896,FT,881.06,DEBIT,VIN/Bigtree Ent/202001181624/001821423259/,2020-01-18
33,M23341222,CASH,5000.00,DEBIT,NFS/40782067/CASH WDL/21-01-20,2020-01-24
34,M24328885,UPI,3041.91,DEBIT,IPS/BIG BAZAAR /202001252118/000000023015/BANGALOR,2020-01-26
35,M24658106,UPI,203.00,DEBIT,UPI/002611196768/On tapping Pay/freshmenu@ybl/Yes,2020-01-28
36,M24987327,FT,2138.00,DEBIT,ACH/TP Kotak Life Ins/1800525191,2020-01-30
37,M25645769,CARD,300.00,DEBIT,VPS/PREMIER SER/202001302249/003017151561/BANGALOR,2020-01-31
38,M26304211,UPI,20.00,DEBIT,UPI/003157736639/On tapping Pay/BHARATPE.904135/IC,2020-02-01
39,M26962653,CASH,5000.00,DEBIT,NFS/SWCW5580/CASH WDL/01-02-20,2020-02-02
40,M27291874,FT,5266.26,DEBIT,BIL/INFT/001910188793/ICICI CC PMT/Self,2020-02-02
41,M27621095,CARD,833.00,DEBIT,BIL/ONL/001910495836/State Bank/SBICARD_RICI848/SB,2020-02-03
42,M28279537,FT,2024.55,DEBIT,ACH/TP ExideLife/INGLife/1802506498,2020-02-03
43,M28937979,CARD,399.00,DEBIT,VPS/SWATHI HOSP/202002041509/003509590219/BANGALOR,2020-02-05
44,M29267200,FT,5000.00,DEBIT,BIL/BPAY/001913373631/BSE ISIP/BSE000000034260,2020-02-05
45,M29596421,CASH,10000.00,DEBIT,NFS/40782067/CASH WDL/05-02-20,2020-02-07
46,M29925642,FT,5000.00,DEBIT,BIL/BPAY/001915367034/MOTILAL OS/MODIRECT-B02925,2020-02-07
47,M30254863,FT,5000.00,DEBIT,BIL/BPAY/001915358808/BSE ISIP/BSE000000034260,2020-02-07
48,M30584084,FT,3062.00,DEBIT,CMS/000611711611/AD_LIC__648652702,2020-02-08
49,M30913305,FT,464.00,DEBIT,BIL/ONL/001916614369/Dish Infra/109767039469-10/DI,2020-02-08
50,M31242526,FT,100.00,DEBIT,BIL/ONL/001916723481/Bharti Air/airtel11karprep/Ai,2020-02-08
51,M31571747,FT,150000.00,CREDIT,SAL FINTECH PRODUCTS and SOLUTIONS JAN 2020,2020-02-08
52,M31900968,FT,12000.00,DEBIT,MMT/IMPS/003917379724/Twds Car EMI/AKSHAY KUMAR /SBIN,2020-02-08
53,M32230189,FT,15000.00,DEBIT,MMT/IMPS/003917381129/Rent Feb 2020/SAILAKSHMI/HDF,2020-02-08
54,M32559410,FT,9095.00,DEBIT,MMT/IMPS/003917401747/HDFC CC PMT/HDFC CREDI/HDFC0,2020-02-08
55,M34205515,CARD,2656.00,DEBIT,VPS/UTH FASHION/202002092044/004015649751/BANGALOR,2020-02-10
56,M34534736,FT,30000.00,DEBIT,ACH/HDFCLTD/247295911,2020-02-10
57,M35193178,CARD,2187.00,DEBIT,VPS/LEVITATE BR/202002112208/004216049503/BANGALOR,2020-02-13
58,M35522399,CASH,300.00,DEBIT,NFS/01626621/CASH WDL/13-02-20,2020-02-14
59,M36180841,FT,20000.71,DEBIT,BIL/ONL/001922566340/NPS Trust/XBCMFNPS_RICI85/NPS,2020-02-16
60,M39143830,CARD,165.00,DEBIT,VPS/MARIYA MART/202002212105/005215700989/BENGALUR,2020-02-21
61,M39802272,CASH,10000.00,DEBIT,NFS/SWCW5580/CASH WDL/22-02-20,2020-02-22
62,M40131493,UPI,928.55,DEBIT,UPI/005321449659/Zomato payment/zomato-order@pa/Pa,2020-02-22
63,M40789935,FT,496.00,DEBIT,VIN/WWW OLACABS/202002261039/005705021876/,2020-02-27
64,M41119156,CARD,170.00,DEBIT,VPS/ROLLS ON WH/202002271409/005808024752/BANGALOR,2020-02-28
65,M41777598,FT,2138.00,DEBIT,ACH/TP Kotak Life Ins/1811082917,2020-02-29
66,M43423703,FT,2024.55,DEBIT,ACH/TP ExideLife/INGLife/1812475429,2020-03-03
67,M44082145,CARD,10000.00,DEBIT,NFS/40782067/CASH WDL/03-03-20,2020-03-04
68,M44411366,FT,100000.00,CREDIT,SAL FINTECH PRODUCTS and SOLUTIONS MAR 2020,2020-03-04
69,M45069808,FT,5000.00,DEBIT,BIL/BPAY/001937764765/BSE ISIP/BSE000000034260,2020-03-07
70,M45399029,FT,5000.00,DEBIT,BIL/BPAY/001939911220/MOTILAL OS/MODIRECT-B02925,2020-03-07
71,M45728250,FT,3561.26,DEBIT,BIL/INFT/001940171101/ICICI CC PMT/Self,2020-03-07
72,M46057471,FT,15000.00,DEBIT,MMT/IMPS/006711568031/Rent,2020-03-07
73,M46386692,FT,12000.00,DEBIT,MMT/IMPS/006711573661/Car Loan EMI/SBIN,2020-03-07
74,M46715913,FT,17000.00,DEBIT,BIL/INFT/001940175419/,2020-03-07
75,M47045134,FT,8559.00,DEBIT,MMT/IMPS/006712597972/HDFC CC PMT/HDFC CREDI/HDFC0,2020-03-07
76,M47374355,FT,50000.00,CREDIT,MMT/IMPS/006712781113/TRANSFER TO SEL/AKSHAY KU/C,2020-03-07
77,M47703576,FT,6336.00,DEBIT,VIN/EASEMYTRIP /202003071359/006719220700/,2020-03-07
78,M48032797,OTHERS,3062.00,DEBIT,CMS/000624000438/AD_LIC__648652702,2020-03-07
79,M48362018,FT,442.00,DEBIT,IIN/I-Debit/DISH INFRA /202003071657/006701016468/,2020-03-07
80,M49678902,FT,7534.00,DEBIT,VIN/EASEMYTRIP /202003082121/006902048650/,2020-03-10
81,M50008123,FT,5000.00,DEBIT,BIL/BPAY/001941514032/BSE ISIP/BSE000000034260,2020-03-11
82,M50337344,FT,30000.00,DEBIT,ACH/HDFCLTD/249354424,2020-03-14
83,M50995786,UPI,600.00,DEBIT,UPI/007420114201/Dentist/gpay-1116609841/Axis Bank,2020-03-16
84,M51325007,ATM,10000.00,DEBIT,ATM/SPCNF280/CASH WDL/14-03-20,2020-03-16
85,M51654228,FT,39104.24,CREDIT,NEFT-SBIN420076198612-PRINCIPAL MUTUAL FUND-/ATTN//INB-,2020-03-18
86,M51983449,FT,33070.22,CREDIT,NEFT-CITIN20042002999-MOTILAL OSWAL MLTICP 35FUND RED A,2020-03-19
87,M52641891,FT,62438.37,CREDIT,NEFT-SBIN220079143128-PRINCIPAL MUTUAL FUND-/ATTN//INB-,2020-03-19
88,M52971112,FT,106982.95,CREDIT,NEFT-CITIN20043807506-MTL OSWL NASDQ 100 FUND OF FUND R,2020-03-19
89,M53300333,FT,150000.00,DEBIT,SAL FINTECH PRODUCTS and SOLUTIONS FEB 2020,2020-03-21
90,M54946438,FT,1574.00,DEBIT,BIL/ONL/001951605503/State Bank/SBICARD_SICI864/SB,2020-03-25
91,M56263322,CASH,10000.00,DEBIT,NFS/KBL18213/CASH WDL/28-03-20,2020-03-29
92,M56921764,OTHERS,594.00,CREDIT,000501523329:Int.Pd:31-12-2019 to 29-03-2020,2020-03-30
93,M57250985,FT,2138.00,DEBIT,ACH/TP Kotak Life Ins/1819650671,2020-03-30
94,M57580206,CARD,1575.00,DEBIT,VPS/MARIYA MART/202003301618/009010507447/BENGALUR,2020-04-02
95,M58238648,FT,503.00,DEBIT,VIN/DISH TV IND/202004022210/009316172254/,2020-04-07
96,M58897090,FT,2024.55,DEBIT,ACH/TP ExideLife/INGLife/1821585640,2020-04-07
97,M59226311,FT,5000.00,DEBIT,BIL/BPAY/001962606701/BSE ISIP/BSE000000034260,2020-04-07
98,M59555532,FT,5000.00,DEBIT,BIL/BPAY/001962608700/MOTILAL OS/MODIRECT-B02925,2020-04-07
99,M59884753,FT,5000.00,DEBIT,BIL/BPAY/001962559893/BSE ISIP/BSE000000034260,2020-04-08
100,M60543195,OTHERS,3062.00,DEBIT,CMS/000634264039/AD_LIC__648652702,2020-04-08
101,M60872416,FT,974.00,DEBIT,BIL/ONL/001963344975/Easy Trip /wwweasemytripco/Fl,2020-04-08
102,M61201637,FT,15408.00,DEBIT,MMT/IMPS/009900364262/Credit Card/HDFC CREDI/HDFC0,2020-04-08
103,M61530858,FT,100000.00,CREDIT,SAL FINTECH PRODUCTS and SOLUTIONS MAR 2020,2020-04-09
104,M61860079,FT,15000.00,DEBIT,MMT/IMPS/009900356311/Rent/SAILAKSHMI/HDFC0000847,2020-04-09
105,M62189300,FT,12000.00,DEBIT,MMT/IMPS/009900355713/For car loan EMI/SBIN,2020-04-09
106,M64164626,FT,30000.00,DEBIT,ACH/HDFCLTD/251443203,2020-04-25
107,M66469173,FT,3294.00,DEBIT,BIL/ONL/001973684380/State Bank/SBICARD_SICI874/SB,2020-05-02
108,M67127615,FT,2138.00,DEBIT,ACH/TP Kotak Life Ins/1826771816,2020-05-04
109,M68444499,FT,2024.55,DEBIT,ACH/TP ExideLife/INGLife/1827934796,2020-05-06
110,M68773720,FT,150000.00,CREDIT,SAL FINTECH PRODUCTS and SOLUTIONS APR 2020,2020-05-07
111,M69761383,FT,5000.00,DEBIT,BIL/BPAY/001982030055/BSE ISIP/BSE000000034260,2020-05-09
112,M70090604,OTHERS,3062.00,DEBIT,CMS/000641754365/AD_LIC__648652702,2020-05-09
113,M70419825,FT,12000.00,DEBIT,MMT/IMPS/012923807671/For Car Loan/SBIN,2020-05-09
114,M70749046,FT,9000.00,DEBIT,BIL/001983772909/ICICI BANK CREDIT CA/524193208676,2020-05-10
115,M71078267,FT,4742.00,DEBIT,MMT/IMPS/013019273318/HDFC CC PMT/HDFC CREDI/HDFC0,2020-05-11
116,M71407488,FT,15000.00,DEBIT,MMT/IMPS/013019275684/Rent May 2020/SAILAKSHMI/HDF,2020-05-15
117,M72065930,FT,30000.00,DEBIT,ACH/HDFCLTD/253928436,2020-05-19
118,M73712035,OTHERS,12.00,DEBIT,PMSBY RENEWAL PREMIUM FY 21,2020-05-24
119,M74041256,FT,4058.00,DEBIT,BIL/001992356805/ICICI BANK CREDIT CA/431581009199,2020-05-25
120,M75358140,FT,2138.00,DEBIT,ACH/TP Kotak Life Ins/1832189136,2020-06-03
121,M76675024,FT,2024.55,DEBIT,ACH/TP ExideLife/INGLife/1834310500,2020-06-04
122,M77333466,FT,100000.00,CREDIT,SAL FINTECH PRODUCTS and SOLUTIONS MAY 2020,2020-06-08
123,M77991908,FT,3000.00,DEBIT,BIL/BPAY/002001526478/BSE ISIP/BSE000000034260,2020-06-11
124,M78321129,OTHERS,3062.00,DEBIT,CMS/000651994446/AD_LIC__648652702,2020-06-11
125,M78650350,FT,30000.00,DEBIT,ACH/HDFCLTD/256070866,2020-06-11
126,M78979571,FT,16037.22,CREDIT,NEFT-SBIN120163800892-PRINCIPAL MUTUAL FUND-/ATTN//INB-,2020-06-13
127,M79308792,FT,15691.88,CREDIT,NEFT-CITIN20080903889-MOTILAL OSWAL MLTICP 35FUND RED A,2020-06-16

In [9]:
#Checking is narration string type or not
isinstance(new_df["narration"][0],str)

True

In [10]:
#To find the number of forward slashes in each narration
new_df["narration"][0].count('/')

4

In [11]:
#To find the first occurance index of a substr (works same as .index(), but find() is better because it returns -1 when not found) 
new_df["narration"][0].find('I/')

2

In [12]:
#To split a string into tuple of 3 parts, part before specified substr, substr and part after substr
tup1 = new_df["narration"][0].partition('/')
print(tup1)

('UPI', '/', '935314560764/getsimpl/simpl@axisbank/Axis Bank')

In [13]:
tup1[0]=="UPI"
type(new_df.shape[0])==int
new_df["narration"].nunique()
type(new_df["narration"].isna().sum())

numpy.int64

In [14]:
#GOOD USEFUL METHOD
#To split the string into many parts based on the separator and return list, it returns original string in list if the separator is not present
li = new_df["narration"][0].split('/')
print(li)

['UPI', '935314560764', 'getsimpl', 'simpl@axisbank', 'Axis Bank']

In [15]:
def gen_narrations(df):
    nan = df["narration"].isna().sum()
    if nan!=0:
        return ("The narration is empty for nan no. of transactions!")
    n = df.shape[0]
    narrations = []
    for i in range(0,n):
        li = [df["txnId"][i]]
        li+=(df["narration"][i].split('/'))
        narrations.append(li)
    return pd.DataFrame(narrations, columns =['txnId','f1','f2','f3','f4','f5','f6'], dtype = str)

In [16]:
narrations = gen_narrations(new_df)

In [17]:
narrations

,txnId,f1,f2,f3,f4,f5,f6
0,M3258741,UPI,935314560764,getsimpl,simpl@axisbank,Axis Bank,None
1,M3917183,UPI,935418465214,On tapping Pay,AMZN0002966107@,St,None
2,M4246404,UPI,935511799557,On tapping Pay,ola.money1@axis,Ax,None
3,M5563288,VIN,BBBP Bengal,201912220356,935522425140,,None
4,M5892509,BIL,ONL,001876585007,State Bank,SBICARD_RICI833,SB
5,M6221730,GIB,000044233050,STAX,63900042212201900058,None,None
6,M6550951,ATM,SECNQ998,CASH WDL,25-12-19,None,None
7,M6880172,ACH,TP Kotak Life Ins,1791288292,None,None,None
8,M7209393,VIN,SWIGGY,201912301322,936407439400,,None
9,M7867835,000501523329:Int.Pd:30-09-2019 to 30-12-2019,None,None,None,None,None
10,M8526277,VIN,IRCTC,202001012059,000115145689,,None
11,M9513940,ACH,TP ExideLife,INGLife,1793513439,None,None
12,M10501603,VPS,SWATHI HOSP,202001051605,000510633940,BANGALOR,None
13,M11160045,NFS,KBL18213,CASH WDL,05-01-20,None,None
14,M11489266,BIL,BPAY,001888932102,BSE ISIP,BSE000000034260,None
15,M11818487,BIL,BPAY,001889944243,BSE ISIP,BSE000000034260,None
16,M12147708,BIL,BPAY,001889918950,MOTILAL OS,MODIRECT-B02925,None
17,M12806150,CMS,000599599606,AD_LIC__648652702,None,None,None
18,M14452255,VIN,DISH TV IND,202001091516,000909100480,,None
19,M14781476,BIL,INFT,001892335260,,None,None
20,M15110697,ACH,HDFCLTD,245261499,None,None,None
21,M15439918,VPS,AIRPLAZA RE,202001110253,001021150009,BANGALOR,None
22,M15769139,IPS,SAI SARVANA,202001112152,000000000526,BANGALOR,None
23,M16098360,UPI,001210722616,Collect,resident.uidai.,HDFC BANK,None
24,M16427581,SAL FINTECH PRODUCTS and SOLUTIONS DEC 2019,None,None,None,None,None
25,M16756802,BIL,INFT,001894593460,,None,None
26,M17086023,MMT,IMPS,001211772937,Car Loan EMI,AKSHAY KUMAR,SBIN
27,M17415244,MMT,IMPS,001211775491,Rent Jan 2020,SAILAKSHMI,HDF
28,M18073686,MMT,IMPS,001212834904,HDFC CC PMT,HDFC CREDI,HDFC0
29,M19390570,ATM,SPCND430,CASH WDL,12-01-20,None,None
30,M20049012,UPI,001520932727,Easebuzz,easebuzz.nbfc@h,HDFC BAN,None
31,M20707454,VPS,SRI MANJUNA,202001180407,001722830111,BANGALOR,None
32,M21365896,VIN,Bigtree Ent,202001181624,001821423259,,None
33,M23341222,NFS,40782067,CASH WDL,21-01-20,None,None
34,M24328885,IPS,BIG BAZAAR,202001252118,000000023015,BANGALOR,None
35,M24658106,UPI,002611196768,On tapping Pay,freshmenu@ybl,Yes,None
36,M24987327,ACH,TP Kotak Life Ins,1800525191,None,None,None
37,M25645769,VPS,PREMIER SER,202001302249,003017151561,BANGALOR,None
38,M26304211,UPI,003157736639,On tapping Pay,BHARATPE.904135,IC,None
39,M26962653,NFS,SWCW5580,CASH WDL,01-02-20,None,None
40,M27291874,BIL,INFT,001910188793,ICICI CC PMT,Self,None
41,M27621095,BIL,ONL,001910495836,State Bank,SBICARD_RICI848,SB
42,M28279537,ACH,TP ExideLife,INGLife,1802506498,None,None
43,M28937979,VPS,SWATHI HOSP,202002041509,003509590219,BANGALOR,None
44,M29267200,BIL,BPAY,001913373631,BSE ISIP,BSE000000034260,None
45,M29596421,NFS,40782067,CASH WDL,05-02-20,None,None
46,M29925642,BIL,BPAY,001915367034,MOTILAL OS,MODIRECT-B02925,None
47,M30254863,BIL,BPAY,001915358808,BSE ISIP,BSE000000034260,None
48,M30584084,CMS,000611711611,AD_LIC__648652702,None,None,None
49,M30913305,BIL,ONL,001916614369,Dish Infra,109767039469-10,DI
50,M31242526,BIL,ONL,001916723481,Bharti Air,airtel11karprep,Ai
51,M31571747,SAL FINTECH PRODUCTS and SOLUTIONS JAN 2020,None,None,None,None,None
52,M31900968,MMT,IMPS,003917379724,Twds Car EMI,AKSHAY KUMAR,SBIN
53,M32230189,MMT,IMPS,003917381129,Rent Feb 2020,SAILAKSHMI,HDF
54,M32559410,MMT,IMPS,003917401747,HDFC CC PMT,HDFC CREDI,HDFC0
55,M34205515,VPS,UTH FASHION,202002092044,004015649751,BANGALOR,None
56,M34534736,ACH,HDFCLTD,247295911,None,None,None
57,M35193178,VPS,LEVITATE BR,202002112208,004216049503,BANGALOR,None
58,M35522399,NFS,01626621,CASH WDL,13-02-20,None,None
59,M36180841,BIL,ONL,001922566340,NPS Trust,XBCMFNPS_RICI85,NPS
60,M39143830,VPS,MARIYA MART,202002212105,005215700989,BENGALUR,None
61,M39802272,NFS,SWCW5580,CASH WDL,22-02-20,None,None
62,M40131493,UPI,005321449659,Zomato payment,zomato-order@pa,Pa,None
63,M40789935,VIN,WWW OLACABS,202002261039,005705021876,,None
64,M41119156,VPS,ROLLS ON WH,202002271409,005808024752,BANGALOR,None
65,M41777598,ACH,TP Kotak Life Ins,1811082917,None,None,None
66,M43423703,ACH,TP ExideLife,INGLife,1812475429,None,None
67,M44082145,NFS,40782067,CASH WDL,03-03-20,None,None
68,M44411366,SAL FINTECH PRODUCTS and SOLUTIONS MAR 2020,None,None,None,None,None
69,M45069808,BIL,BPAY,001937764765,BSE ISIP,BSE000000034260,None
70,M45399029,BIL,BPAY,001939911220,MOTILAL OS,MODIRECT-B02925,None
71,M45728250,BIL,INFT,001940171101,ICICI CC PMT,Self,None
72,M46057471,MMT,IMPS,006711568031,Rent,None,None
73,M46386692,MMT,IMPS,006711573661,Car Loan EMI,SBIN,None
74,M46715913,BIL,INFT,001940175419,,None,None
75,M47045134,MMT,IMPS,006712597972,HDFC CC PMT,HDFC CREDI,HDFC0
76,M47374355,MMT,IMPS,006712781113,TRANSFER TO SEL,AKSHAY KU,C
77,M47703576,VIN,EASEMYTRIP,202003071359,006719220700,,None
78,M48032797,CMS,000624000438,AD_LIC__648652702,None,None,None
79,M48362018,IIN,I-Debit,DISH INFRA,202003071657,006701016468,
80,M49678902,VIN,EASEMYTRIP,202003082121,006902048650,,None
81,M50008123,BIL,BPAY,001941514032,BSE ISIP,BSE000000034260,None
82,M50337344,ACH,HDFCLTD,249354424,None,None,None
83,M50995786,UPI,007420114201,Dentist,gpay-1116609841,Axis Bank,None
84,M51325007,ATM,SPCNF280,CASH WDL,14-03-20,None,None
85,M51654228,NEFT-SBIN420076198612-PRINCIPAL MUTUAL FUND-,ATTN,,INB-,None,None
86,M51983449,NEFT-CITIN20042002999-MOTILAL OSWAL MLTICP 35FUND RED A,None,None,None,None,None
87,M52641891,NEFT-SBIN220079143128-PRINCIPAL MUTUAL FUND-,ATTN,,INB-,None,None
88,M52971112,NEFT-CITIN20043807506-MTL OSWL NASDQ 100 FUND OF FUND R,None,None,None,None,None
89,M53300333,SAL FINTECH PRODUCTS and SOLUTIONS FEB 2020,None,None,None,None,None
90,M54946438,BIL,ONL,001951605503,State Bank,SBICARD_SICI864,SB
91,M56263322,NFS,KBL18213,CASH WDL,28-03-20,None,None
92,M56921764,000501523329:Int.Pd:31-12-2019 to 29-03-2020,None,None,None,None,None
93,M57250985,ACH,TP Kotak Life Ins,1819650671,None,None,None
94,M57580206,VPS,MARIYA MART,202003301618,009010507447,BENGALUR,None
95,M58238648,VIN,DISH TV IND,202004022210,009316172254,,None
96,M58897090,ACH,TP ExideLife,INGLife,1821585640,None,None
97,M59226311,BIL,BPAY,001962606701,BSE ISIP,BSE000000034260,None
98,M59555532,BIL,BPAY,001962608700,MOTILAL OS,MODIRECT-B02925,None
99,M59884753,BIL,BPAY,001962559893,BSE ISIP,BSE000000034260,None
100,M60543195,CMS,000634264039,AD_LIC__648652702,None,None,None
101,M60872416,BIL,ONL,001963344975,Easy Trip,wwweasemytripco,Fl
102,M61201637,MMT,IMPS,009900364262,Credit Card,HDFC CREDI,HDFC0
103,M61530858,SAL FINTECH PRODUCTS and SOLUTIONS MAR 2020,None,None,None,None,None
104,M61860079,MMT,IMPS,009900356311,Rent,SAILAKSHMI,HDFC0000847
105,M62189300,MMT,IMPS,009900355713,For car loan EMI,SBIN,None
106,M64164626,ACH,HDFCLTD,251443203,None,None,None
107,M66469173,BIL,ONL,001973684380,State Bank,SBICARD_SICI874,SB
108,M67127615,ACH,TP Kotak Life Ins,1826771816,None,None,None
109,M68444499,ACH,TP ExideLife,INGLife,1827934796,None,None
110,M68773720,SAL FINTECH PRODUCTS and SOLUTIONS APR 2020,None,None,None,None,None
111,M69761383,BIL,BPAY,001982030055,BSE ISIP,BSE000000034260,None
112,M70090604,CMS,000641754365,AD_LIC__648652702,None,None,None
113,M70419825,MMT,IMPS,012923807671,For Car Loan,SBIN,None
114,M70749046,BIL,001983772909,ICICI BANK CREDIT CA,524193208676,None,None
115,M71078267,MMT,IMPS,013019273318,HDFC CC PMT,HDFC CREDI,HDFC0
116,M71407488,MMT,IMPS,013019275684,Rent May 2020,SAILAKSHMI,HDF
117,M72065930,ACH,HDFCLTD,253928436,None,None,None
118,M73712035,PMSBY RENEWAL PREMIUM FY 21,None,None,None,None,None
119,M74041256,BIL,001992356805,ICICI BANK CREDIT CA,431581009199,None,None
120,M75358140,ACH,TP Kotak Life Ins,1832189136,None,None,None
121,M76675024,ACH,TP ExideLife,INGLife,1834310500,None,None
122,M77333466,SAL FINTECH PRODUCTS and SOLUTIONS MAY 2020,None,None,None,None,None
123,M77991908,BIL,BPAY,002001526478,BSE ISIP,BSE000000034260,None
124,M78321129,CMS,000651994446,AD_LIC__648652702,None,None,None
125,M78650350,ACH,HDFCLTD,256070866,None,None,None
126,M78979571,NEFT-SBIN120163800892-PRINCIPAL MUTUAL FUND-,ATTN,,INB-,None,None
127,M79308792,NEFT-CITIN20080903889-MOTILAL OSWAL MLTICP 35FUND RED A,None,None,None,None,None

In [18]:
#Making separate dataframes for specific merchants: These 7 are unique ones
upi_df = narrations[narrations["f1"]=="UPI"]
gib_df = narrations[narrations["f1"]=="GIB"]
vps_df = narrations[narrations["f1"]=="VPS"]
atm_df = narrations[narrations["f1"]=="ATM"]
ach_df = narrations[narrations["f1"]=="ACH"]
mmt_df = narrations[narrations["f1"]=="MMT"]
iin_df = narrations[narrations["f1"]=="IIN"]

In [19]:
upi_df

,txnId,f1,f2,f3,f4,f5,f6
0,M3258741,UPI,935314560764,getsimpl,simpl@axisbank,Axis Bank,None
1,M3917183,UPI,935418465214,On tapping Pay,AMZN0002966107@,St,None
2,M4246404,UPI,935511799557,On tapping Pay,ola.money1@axis,Ax,None
23,M16098360,UPI,001210722616,Collect,resident.uidai.,HDFC BANK,None
30,M20049012,UPI,001520932727,Easebuzz,easebuzz.nbfc@h,HDFC BAN,None
35,M24658106,UPI,002611196768,On tapping Pay,freshmenu@ybl,Yes,None
38,M26304211,UPI,003157736639,On tapping Pay,BHARATPE.904135,IC,None
62,M40131493,UPI,005321449659,Zomato payment,zomato-order@pa,Pa,None
83,M50995786,UPI,007420114201,Dentist,gpay-1116609841,Axis Bank,None

In [20]:
gib_df

      txnId   f1            f2     f3                     f4    f5    f6
5  M6221730  GIB  000044233050  STAX   63900042212201900058   None  None

In [21]:
vps_df

        txnId   f1           f2            f3            f4        f5    f6
12  M10501603  VPS  SWATHI HOSP  202001051605  000510633940  BANGALOR  None
21  M15439918  VPS  AIRPLAZA RE  202001110253  001021150009  BANGALOR  None
31  M20707454  VPS  SRI MANJUNA  202001180407  001722830111  BANGALOR  None
37  M25645769  VPS  PREMIER SER  202001302249  003017151561  BANGALOR  None
43  M28937979  VPS  SWATHI HOSP  202002041509  003509590219  BANGALOR  None
55  M34205515  VPS  UTH FASHION  202002092044  004015649751  BANGALOR  None
57  M35193178  VPS  LEVITATE BR  202002112208  004216049503  BANGALOR  None
60  M39143830  VPS  MARIYA MART  202002212105  005215700989  BENGALUR  None
64  M41119156  VPS  ROLLS ON WH  202002271409  005808024752  BANGALOR  None
94  M57580206  VPS  MARIYA MART  202003301618  009010507447  BENGALUR  None

In [22]:
atm_df

        txnId   f1        f2        f3         f4    f5    f6
6    M6550951  ATM  SECNQ998  CASH WDL  25-12-19   None  None
29  M19390570  ATM  SPCND430  CASH WDL  12-01-20   None  None
84  M51325007  ATM  SPCNF280  CASH WDL  14-03-20   None  None

In [23]:
ach_df

         txnId   f1                 f2           f3           f4    f5    f6
7     M6880172  ACH  TP Kotak Life Ins  1791288292          None  None  None
11    M9513940  ACH       TP ExideLife      INGLife  1793513439   None  None
20   M15110697  ACH            HDFCLTD   245261499          None  None  None
36   M24987327  ACH  TP Kotak Life Ins  1800525191          None  None  None
42   M28279537  ACH       TP ExideLife      INGLife  1802506498   None  None
56   M34534736  ACH            HDFCLTD   247295911          None  None  None
65   M41777598  ACH  TP Kotak Life Ins  1811082917          None  None  None
66   M43423703  ACH       TP ExideLife      INGLife  1812475429   None  None
82   M50337344  ACH            HDFCLTD   249354424          None  None  None
93   M57250985  ACH  TP Kotak Life Ins  1819650671          None  None  None
96   M58897090  ACH       TP ExideLife      INGLife  1821585640   None  None
106  M64164626  ACH            HDFCLTD   251443203          None  None  None
108  M67127615  ACH  TP Kotak Life Ins  1826771816          None  None  None
109  M68444499  ACH       TP ExideLife      INGLife  1827934796   None  None
117  M72065930  ACH            HDFCLTD   253928436          None  None  None
120  M75358140  ACH  TP Kotak Life Ins  1832189136          None  None  None
121  M76675024  ACH       TP ExideLife      INGLife  1834310500   None  None
125  M78650350  ACH            HDFCLTD   256070866          None  None  None

In [24]:
mmt_df

,txnId,f1,f2,f3,f4,f5,f6
26,M17086023,MMT,IMPS,001211772937,Car Loan EMI,AKSHAY KUMAR,SBIN
27,M17415244,MMT,IMPS,001211775491,Rent Jan 2020,SAILAKSHMI,HDF
28,M18073686,MMT,IMPS,001212834904,HDFC CC PMT,HDFC CREDI,HDFC0
52,M31900968,MMT,IMPS,003917379724,Twds Car EMI,AKSHAY KUMAR,SBIN
53,M32230189,MMT,IMPS,003917381129,Rent Feb 2020,SAILAKSHMI,HDF
54,M32559410,MMT,IMPS,003917401747,HDFC CC PMT,HDFC CREDI,HDFC0
72,M46057471,MMT,IMPS,006711568031,Rent,None,None
73,M46386692,MMT,IMPS,006711573661,Car Loan EMI,SBIN,None
75,M47045134,MMT,IMPS,006712597972,HDFC CC PMT,HDFC CREDI,HDFC0
76,M47374355,MMT,IMPS,006712781113,TRANSFER TO SEL,AKSHAY KU,C
102,M61201637,MMT,IMPS,009900364262,Credit Card,HDFC CREDI,HDFC0
104,M61860079,MMT,IMPS,009900356311,Rent,SAILAKSHMI,HDFC0000847
105,M62189300,MMT,IMPS,009900355713,For car loan EMI,SBIN,None
113,M70419825,MMT,IMPS,012923807671,For Car Loan,SBIN,None
115,M71078267,MMT,IMPS,013019273318,HDFC CC PMT,HDFC CREDI,HDFC0
116,M71407488,MMT,IMPS,013019275684,Rent May 2020,SAILAKSHMI,HDF

In [25]:
iin_df

        txnId   f1       f2           f3            f4            f5 f6
79  M48362018  IIN  I-Debit  DISH INFRA   202003071657  006701016468

In [26]:
#Making separate dataframes for specific merchants: These are for the others
ips_df = narrations[narrations["f1"]=="IPS"]
vin_df = narrations[narrations["f1"]=="VIN"]
cms_df = narrations[narrations["f1"]=="CMS"]
bil_df = narrations[narrations["f1"]=="BIL"]
nfs_df = narrations[narrations["f1"]=="NFS"]
other_df = narrations[narrations["f1"]!="UPI"]
other_df = other_df[other_df["f1"]!="GIB"]
other_df = other_df[other_df["f1"]!="VPS"]
other_df = other_df[other_df["f1"]!="ATM"]
other_df = other_df[other_df["f1"]!="ACH"]
other_df = other_df[other_df["f1"]!="MMT"]
other_df = other_df[other_df["f1"]!="IIN"]
other_df = other_df[other_df["f1"]!="IPS"]
other_df = other_df[other_df["f1"]!="VIN"]
other_df = other_df[other_df["f1"]!="CMS"]
other_df = other_df[other_df["f1"]!="BIL"]
other_df = other_df[other_df["f1"]!="NFS"]

In [27]:
ips_df

        txnId   f1           f2            f3            f4        f5    f6
22  M15769139  IPS  SAI SARVANA  202001112152  000000000526  BANGALOR  None
34  M24328885  IPS  BIG BAZAAR   202001252118  000000023015  BANGALOR  None

In [28]:
vin_df

        txnId   f1           f2            f3            f4 f5    f6
3    M5563288  VIN  BBBP Bengal  201912220356  935522425140     None
8    M7209393  VIN      SWIGGY   201912301322  936407439400     None
10   M8526277  VIN       IRCTC   202001012059  000115145689     None
18  M14452255  VIN  DISH TV IND  202001091516  000909100480     None
32  M21365896  VIN  Bigtree Ent  202001181624  001821423259     None
63  M40789935  VIN  WWW OLACABS  202002261039  005705021876     None
77  M47703576  VIN  EASEMYTRIP   202003071359  006719220700     None
80  M49678902  VIN  EASEMYTRIP   202003082121  006902048650     None
95  M58238648  VIN  DISH TV IND  202004022210  009316172254     None

In [29]:
cms_df

         txnId   f1            f2                  f3    f4    f5    f6
17   M12806150  CMS  000599599606  AD_LIC__648652702   None  None  None
48   M30584084  CMS  000611711611  AD_LIC__648652702   None  None  None
78   M48032797  CMS  000624000438  AD_LIC__648652702   None  None  None
100  M60543195  CMS  000634264039  AD_LIC__648652702   None  None  None
112  M70090604  CMS  000641754365  AD_LIC__648652702   None  None  None
124  M78321129  CMS  000651994446  AD_LIC__648652702   None  None  None

In [30]:
bil_df

,txnId,f1,f2,f3,f4,f5,f6
4,M5892509,BIL,ONL,001876585007,State Bank,SBICARD_RICI833,SB
14,M11489266,BIL,BPAY,001888932102,BSE ISIP,BSE000000034260,None
15,M11818487,BIL,BPAY,001889944243,BSE ISIP,BSE000000034260,None
16,M12147708,BIL,BPAY,001889918950,MOTILAL OS,MODIRECT-B02925,None
19,M14781476,BIL,INFT,001892335260,,None,None
25,M16756802,BIL,INFT,001894593460,,None,None
40,M27291874,BIL,INFT,001910188793,ICICI CC PMT,Self,None
41,M27621095,BIL,ONL,001910495836,State Bank,SBICARD_RICI848,SB
44,M29267200,BIL,BPAY,001913373631,BSE ISIP,BSE000000034260,None
46,M29925642,BIL,BPAY,001915367034,MOTILAL OS,MODIRECT-B02925,None
47,M30254863,BIL,BPAY,001915358808,BSE ISIP,BSE000000034260,None
49,M30913305,BIL,ONL,001916614369,Dish Infra,109767039469-10,DI
50,M31242526,BIL,ONL,001916723481,Bharti Air,airtel11karprep,Ai
59,M36180841,BIL,ONL,001922566340,NPS Trust,XBCMFNPS_RICI85,NPS
69,M45069808,BIL,BPAY,001937764765,BSE ISIP,BSE000000034260,None
70,M45399029,BIL,BPAY,001939911220,MOTILAL OS,MODIRECT-B02925,None
71,M45728250,BIL,INFT,001940171101,ICICI CC PMT,Self,None
74,M46715913,BIL,INFT,001940175419,,None,None
81,M50008123,BIL,BPAY,001941514032,BSE ISIP,BSE000000034260,None
90,M54946438,BIL,ONL,001951605503,State Bank,SBICARD_SICI864,SB
97,M59226311,BIL,BPAY,001962606701,BSE ISIP,BSE000000034260,None
98,M59555532,BIL,BPAY,001962608700,MOTILAL OS,MODIRECT-B02925,None
99,M59884753,BIL,BPAY,001962559893,BSE ISIP,BSE000000034260,None
101,M60872416,BIL,ONL,001963344975,Easy Trip,wwweasemytripco,Fl
107,M66469173,BIL,ONL,001973684380,State Bank,SBICARD_SICI874,SB
111,M69761383,BIL,BPAY,001982030055,BSE ISIP,BSE000000034260,None
114,M70749046,BIL,001983772909,ICICI BANK CREDIT CA,524193208676,None,None
119,M74041256,BIL,001992356805,ICICI BANK CREDIT CA,431581009199,None,None
123,M77991908,BIL,BPAY,002001526478,BSE ISIP,BSE000000034260,None

In [31]:
nfs_df

        txnId   f1        f2        f3         f4    f5    f6
13  M11160045  NFS  KBL18213  CASH WDL  05-01-20   None  None
33  M23341222  NFS  40782067  CASH WDL  21-01-20   None  None
39  M26962653  NFS  SWCW5580  CASH WDL  01-02-20   None  None
45  M29596421  NFS  40782067  CASH WDL  05-02-20   None  None
58  M35522399  NFS  01626621  CASH WDL  13-02-20   None  None
61  M39802272  NFS  SWCW5580  CASH WDL  22-02-20   None  None
67  M44082145  NFS  40782067  CASH WDL  03-03-20   None  None
91  M56263322  NFS  KBL18213  CASH WDL  28-03-20   None  None

In [32]:
other_df

,txnId,f1,f2,f3,f4,f5,f6
9,M7867835,000501523329:Int.Pd:30-09-2019 to 30-12-2019,None,None,None,None,None
24,M16427581,SAL FINTECH PRODUCTS and SOLUTIONS DEC 2019,None,None,None,None,None
51,M31571747,SAL FINTECH PRODUCTS and SOLUTIONS JAN 2020,None,None,None,None,None
68,M44411366,SAL FINTECH PRODUCTS and SOLUTIONS MAR 2020,None,None,None,None,None
85,M51654228,NEFT-SBIN420076198612-PRINCIPAL MUTUAL FUND-,ATTN,,INB-,None,None
86,M51983449,NEFT-CITIN20042002999-MOTILAL OSWAL MLTICP 35FUND RED A,None,None,None,None,None
87,M52641891,NEFT-SBIN220079143128-PRINCIPAL MUTUAL FUND-,ATTN,,INB-,None,None
88,M52971112,NEFT-CITIN20043807506-MTL OSWL NASDQ 100 FUND OF FUND R,None,None,None,None,None
89,M53300333,SAL FINTECH PRODUCTS and SOLUTIONS FEB 2020,None,None,None,None,None
92,M56921764,000501523329:Int.Pd:31-12-2019 to 29-03-2020,None,None,None,None,None
103,M61530858,SAL FINTECH PRODUCTS and SOLUTIONS MAR 2020,None,None,None,None,None
110,M68773720,SAL FINTECH PRODUCTS and SOLUTIONS APR 2020,None,None,None,None,None
118,M73712035,PMSBY RENEWAL PREMIUM FY 21,None,None,None,None,None
122,M77333466,SAL FINTECH PRODUCTS and SOLUTIONS MAY 2020,None,None,None,None,None
126,M78979571,NEFT-SBIN120163800892-PRINCIPAL MUTUAL FUND-,ATTN,,INB-,None,None
127,M79308792,NEFT-CITIN20080903889-MOTILAL OSWAL MLTICP 35FUND RED A,None,None,None,None,None

In [33]:
#This dictionary indicates the column name which gives us the insights about the brand/company/reciever of money/transaction etc (CMS: there is no description)
merchants_list = ["UPI","GIB","VPS","ATM","ACH","MMT","IIN","IPS","VIN","CMS","BIL","NFS","OTHER"]
merchants_df_dict = {"UPI":upi_df, "GIB":gib_df, "VPS":vps_df, "ATM":atm_df, "ACH":ach_df, "MMT":mmt_df, "IIN":iin_df, "IPS":ips_df, "VIN":vin_df, "CMS":cms_df, "BIL":bil_df, "NFS":nfs_df, "OTHER":other_df}
selector_dict = {"UPI":["f3", "f4"], "GIB":["f3"], "VPS":["f2"], "ATM":["f3"], "ACH":["f2"], "MMT":["f4"], "IIN":["f3"], "IPS":["f2"], "VIN":["f2"], "CMS":["f3"], "BIL":["f3","f4"], "NFS":["f3"], "OTHER":["f1"]}

In [34]:
print(merchants_list)
print(merchants_df_dict)
print(selector_dict)

['UPI', 'GIB', 'VPS', 'ATM', 'ACH', 'MMT', 'IIN', 'IPS', 'VIN', 'CMS', 'BIL', 'NFS', 'OTHER']
{'UPI':         txnId   f1            f2              f3               f4         f5  \
0    M3258741  UPI  935314560764        getsimpl   simpl@axisbank  Axis Bank
1    M3917183  UPI  935418465214  On tapping Pay  AMZN0002966107@         St
2    M4246404  UPI  935511799557  On tapping Pay  ola.money1@axis         Ax
23  M16098360  UPI  001210722616         Collect  resident.uidai.  HDFC BANK
30  M20049012  UPI  001520932727        Easebuzz  easebuzz.nbfc@h   HDFC BAN
35  M24658106  UPI  002611196768  On tapping Pay    freshmenu@ybl       Yes
38  M26304211  UPI  003157736639  On tapping Pay  BHARATPE.904135         IC
62  M40131493  UPI  005321449659  Zomato payment  zomato-order@pa         Pa
83  M50995786  UPI  007420114201         Dentist  gpay-1116609841  Axis Bank

      f6
0   None
1   None
2   None
23  None
30  None
35  None
38  None
62  None
83  None  , 'GIB':       txnId   f1            f2     f3                     f4    f5    f6
5  M6221730  GIB  000044233050  STAX   63900042212201900058   None  None, 'VPS':         txnId   f1           f2            f3            f4        f5    f6
12  M10501603  VPS  SWATHI HOSP  202001051605  000510633940  BANGALOR  None
21  M15439918  VPS  AIRPLAZA RE  202001110253  001021150009  BANGALOR  None
31  M20707454  VPS  SRI MANJUNA  202001180407  001722830111  BANGALOR  None
37  M25645769  VPS  PREMIER SER  202001302249  003017151561  BANGALOR  None
43  M28937979  VPS  SWATHI HOSP  202002041509  003509590219  BANGALOR  None
55  M34205515  VPS  UTH FASHION  202002092044  004015649751  BANGALOR  None
57  M35193178  VPS  LEVITATE BR  202002112208  004216049503  BANGALOR  None
60  M39143830  VPS  MARIYA MART  202002212105  005215700989  BENGALUR  None
64  M41119156  VPS  ROLLS ON WH  202002271409  005808024752  BANGALOR  None
94  M57580206  VPS  MARIYA MART  202003301618  009010507447  BENGALUR  None, 'ATM':         txnId   f1        f2        f3         f4    f5    f6
6    M6550951  ATM  SECNQ998  CASH WDL  25-12-19   None  None
29  M19390570  ATM  SPCND430  CASH WDL  12-01-20   None  None
84  M51325007  ATM  SPCNF280  CASH WDL  14-03-20   None  None, 'ACH':          txnId   f1                 f2           f3           f4    f5    f6
7     M6880172  ACH  TP Kotak Life Ins  1791288292          None  None  None
11    M9513940  ACH       TP ExideLife      INGLife  1793513439   None  None
20   M15110697  ACH            HDFCLTD   245261499          None  None  None
36   M24987327  ACH  TP Kotak Life Ins  1800525191          None  None  None
42   M28279537  ACH       TP ExideLife      INGLife  1802506498   None  None
56   M34534736  ACH            HDFCLTD   247295911          None  None  None
65   M41777598  ACH  TP Kotak Life Ins  1811082917          None  None  None
66   M43423703  ACH       TP ExideLife      INGLife  1812475429   None  None
82   M50337344  ACH            HDFCLTD   249354424          None  None  None
93   M57250985  ACH  TP Kotak Life Ins  1819650671          None  None  None
96   M58897090  ACH       TP ExideLife      INGLife  1821585640   None  None
106  M64164626  ACH            HDFCLTD   251443203          None  None  None
108  M67127615  ACH  TP Kotak Life Ins  1826771816          None  None  None
109  M68444499  ACH       TP ExideLife      INGLife  1827934796   None  None
117  M72065930  ACH            HDFCLTD   253928436          None  None  None
120  M75358140  ACH  TP Kotak Life Ins  1832189136          None  None  None
121  M76675024  ACH       TP ExideLife      INGLife  1834310500   None  None
125  M78650350  ACH            HDFCLTD   256070866          None  None  None, 'MMT':          txnId   f1    f2            f3                f4             f5  \
26   M17086023  MMT  IMPS  001211772937      Car Loan EMI  AKSHAY KUMAR
27   M17415244  MMT  IMPS  001211775491     Rent Jan 2020     SAILAKSHMI
28   M18073686  MMT  IMPS  001212834904       HDFC CC PMT     HDFC CREDI
52   M31900968  MMT  IMPS  003917379724      Twds Car EMI  AKSHAY KUMAR
53   M32230189  MMT  IMPS  003917381129     Rent Feb 2020     SAILAKSHMI
54   M32559410  MMT  IMPS  003917401747       HDFC CC PMT     HDFC CREDI
72   M46057471  MMT  IMPS  006711568031             Rent            None
73   M46386692  MMT  IMPS  006711573661      Car Loan EMI           SBIN
75   M47045134  MMT  IMPS  006712597972       HDFC CC PMT     HDFC CREDI
76   M47374355  MMT  IMPS  006712781113   TRANSFER TO SEL      AKSHAY KU
102  M61201637  MMT  IMPS  009900364262       Credit Card     HDFC CREDI
104  M61860079  MMT  IMPS  009900356311              Rent     SAILAKSHMI
105  M62189300  MMT  IMPS  009900355713  For car loan EMI           SBIN
113  M70419825  MMT  IMPS  012923807671      For Car Loan           SBIN
115  M71078267  MMT  IMPS  013019273318       HDFC CC PMT     HDFC CREDI
116  M71407488  MMT  IMPS  013019275684     Rent May 2020     SAILAKSHMI

               f6
26           SBIN
27            HDF
28          HDFC0
52           SBIN
53            HDF
54          HDFC0
72           None
73           None
75          HDFC0
76              C
102         HDFC0
104  HDFC0000847
105          None
113          None
115         HDFC0
116           HDF  , 'IIN':         txnId   f1       f2           f3            f4            f5 f6
79  M48362018  IIN  I-Debit  DISH INFRA   202003071657  006701016468   , 'IPS':         txnId   f1           f2            f3            f4        f5    f6
22  M15769139  IPS  SAI SARVANA  202001112152  000000000526  BANGALOR  None
34  M24328885  IPS  BIG BAZAAR   202001252118  000000023015  BANGALOR  None, 'VIN':         txnId   f1           f2            f3            f4 f5    f6
3    M5563288  VIN  BBBP Bengal  201912220356  935522425140     None
8    M7209393  VIN      SWIGGY   201912301322  936407439400     None
10   M8526277  VIN       IRCTC   202001012059  000115145689     None
18  M14452255  VIN  DISH TV IND  202001091516  000909100480     None
32  M21365896  VIN  Bigtree Ent  202001181624  001821423259     None
63  M40789935  VIN  WWW OLACABS  202002261039  005705021876     None
77  M47703576  VIN  EASEMYTRIP   202003071359  006719220700     None
80  M49678902  VIN  EASEMYTRIP   202003082121  006902048650     None
95  M58238648  VIN  DISH TV IND  202004022210  009316172254     None, 'CMS':          txnId   f1            f2                  f3    f4    f5    f6
17   M12806150  CMS  000599599606  AD_LIC__648652702   None  None  None
48   M30584084  CMS  000611711611  AD_LIC__648652702   None  None  None
78   M48032797  CMS  000624000438  AD_LIC__648652702   None  None  None
100  M60543195  CMS  000634264039  AD_LIC__648652702   None  None  None
112  M70090604  CMS  000641754365  AD_LIC__648652702   None  None  None
124  M78321129  CMS  000651994446  AD_LIC__648652702   None  None  None, 'BIL':          txnId   f1            f2                    f3            f4  \
4     M5892509  BIL           ONL          001876585007    State Bank
14   M11489266  BIL          BPAY          001888932102      BSE ISIP
15   M11818487  BIL          BPAY          001889944243      BSE ISIP
16   M12147708  BIL          BPAY          001889918950    MOTILAL OS
19   M14781476  BIL          INFT          001892335260
25   M16756802  BIL          INFT          001894593460
40   M27291874  BIL          INFT          001910188793  ICICI CC PMT
41   M27621095  BIL           ONL          001910495836    State Bank
44   M29267200  BIL          BPAY          001913373631      BSE ISIP
46   M29925642  BIL          BPAY          001915367034    MOTILAL OS
47   M30254863  BIL          BPAY          001915358808      BSE ISIP
49   M30913305  BIL           ONL          001916614369    Dish Infra
50   M31242526  BIL           ONL          001916723481    Bharti Air
59   M36180841  BIL           ONL          001922566340     NPS Trust
69   M45069808  BIL          BPAY          001937764765      BSE ISIP
70   M45399029  BIL          BPAY          001939911220    MOTILAL OS
71   M45728250  BIL          INFT          001940171101  ICICI CC PMT
74   M46715913  BIL          INFT          001940175419
81   M50008123  BIL          BPAY          001941514032      BSE ISIP
90   M54946438  BIL           ONL          001951605503    State Bank
97   M59226311  BIL          BPAY          001962606701      BSE ISIP
98   M59555532  BIL          BPAY          001962608700    MOTILAL OS
99   M59884753  BIL          BPAY          001962559893      BSE ISIP
101  M60872416  BIL           ONL          001963344975    Easy Trip
107  M66469173  BIL           ONL          001973684380    State Bank
111  M69761383  BIL          BPAY          001982030055      BSE ISIP
114  M70749046  BIL  001983772909  ICICI BANK CREDIT CA  524193208676
119  M74041256  BIL  001992356805  ICICI BANK CREDIT CA  431581009199
123  M77991908  BIL          BPAY          002001526478      BSE ISIP

                   f5    f6
4     SBICARD_RICI833    SB
14   BSE000000034260   None
15   BSE000000034260   None
16   MODIRECT-B02925   None
19               None  None
25               None  None
40              Self   None
41    SBICARD_RICI848    SB
44   BSE000000034260   None
46   MODIRECT-B02925   None
47   BSE000000034260   None
49    109767039469-10    DI
50    airtel11karprep    Ai
59    XBCMFNPS_RICI85   NPS
69   BSE000000034260   None
70   MODIRECT-B02925   None
71              Self   None
74               None  None
81   BSE000000034260   None
90    SBICARD_SICI864    SB
97   BSE000000034260   None
98   MODIRECT-B02925   None
99   BSE000000034260   None
101   wwweasemytripco    Fl
107   SBICARD_SICI874    SB
111  BSE000000034260   None
114              None  None
119              None  None
123  BSE000000034260   None  , 'NFS':         txnId   f1        f2        f3         f4    f5    f6
13  M11160045  NFS  KBL18213  CASH WDL  05-01-20   None  None
33  M23341222  NFS  40782067  CASH WDL  21-01-20   None  None
39  M26962653  NFS  SWCW5580  CASH WDL  01-02-20   None  None
45  M29596421  NFS  40782067  CASH WDL  05-02-20   None  None
58  M35522399  NFS  01626621  CASH WDL  13-02-20   None  None
61  M39802272  NFS  SWCW5580  CASH WDL  22-02-20   None  None
67  M44082145  NFS  40782067  CASH WDL  03-03-20   None  None
91  M56263322  NFS  KBL18213  CASH WDL  28-03-20   None  None, 'OTHER':          txnId                                                       f1    f2  \
9     M7867835            000501523329:Int.Pd:30-09-2019 to 30-12-2019   None
24   M16427581              SAL FINTECH PRODUCTS and SOLUTIONS DEC 2019  None
51   M31571747              SAL FINTECH PRODUCTS and SOLUTIONS JAN 2020  None
68   M44411366              SAL FINTECH PRODUCTS and SOLUTIONS MAR 2020  None
85   M51654228             NEFT-SBIN420076198612-PRINCIPAL MUTUAL FUND-  ATTN
86   M51983449  NEFT-CITIN20042002999-MOTILAL OSWAL MLTICP 35FUND RED A  None
87   M52641891             NEFT-SBIN220079143128-PRINCIPAL MUTUAL FUND-  ATTN
88   M52971112  NEFT-CITIN20043807506-MTL OSWL NASDQ 100 FUND OF FUND R  None
89   M53300333              SAL FINTECH PRODUCTS and SOLUTIONS FEB 2020  None
92   M56921764            000501523329:Int.Pd:31-12-2019 to 29-03-2020   None
103  M61530858              SAL FINTECH PRODUCTS and SOLUTIONS MAR 2020  None
110  M68773720              SAL FINTECH PRODUCTS and SOLUTIONS APR 2020  None
118  M73712035                             PMSBY RENEWAL PREMIUM FY 21   None
122  M77333466              SAL FINTECH PRODUCTS and SOLUTIONS MAY 2020  None
126  M78979571             NEFT-SBIN120163800892-PRINCIPAL MUTUAL FUND-  ATTN
127  M79308792  NEFT-CITIN20080903889-MOTILAL OSWAL MLTICP 35FUND RED A  None

       f3    f4    f5    f6
9    None  None  None  None
24   None  None  None  None
51   None  None  None  None
68   None  None  None  None
85         INB-  None  None
86   None  None  None  None
87         INB-  None  None
88   None  None  None  None
89   None  None  None  None
92   None  None  None  None
103  None  None  None  None
110  None  None  None  None
118  None  None  None  None
122  None  None  None  None
126        INB-  None  None
127  None  None  None  None  }
{'UPI': ['f3', 'f4'], 'GIB': ['f3'], 'VPS': ['f2'], 'ATM': ['f3'], 'ACH': ['f2'], 'MMT': ['f4'], 'IIN': ['f3'], 'IPS': ['f2'], 'VIN': ['f2'], 'CMS': ['f3'], 'BIL': ['f3', 'f4'], 'NFS': ['f3'], 'OTHER': ['f1']}

In [35]:
brand_df = pd.read_csv("Brand.csv")
brand_df

,Brand_id,Brand_name,Category,Notable_products
0,0,Airtel (Bharti Air),Bills,"4g, Broadband"
1,1,Jio,Bills,"4g, Broadband"
2,2,Amul,Foods and Drinks,"Butter, Ice Creams"
3,3,Spencers,Groceries,"Fruits, Biscuits"
4,4,Reliance Fresh,Groceries,"Vegetables, Milk Products"
5,5,Kwality Bazaar,Groceries,"Cosmetics, Fruits"
6,6,Shopper Stop,Shopping,"Clothes, Shoes, Watches"
7,7,Reliance Digital,Shopping,NaN
8,8,Louis Philippe,Shopping,NaN
9,9,Arrow,Shopping,NaN
10,10,Van Heusen,Shopping,NaN
11,11,Allen Solly,Shopping,NaN
12,12,Casio,Shopping,NaN
13,13,Peter England,Shopping,NaN
14,14,Dunkin Donuts,Foods and Drinks,NaN
15,15,KFC,Foods and Drinks,NaN
16,16,Mc Donalds,Foods and Drinks,NaN
17,17,Taco Bell,Foods and Drinks,NaN
18,18,Nyka,Shopping,NaN
19,19,Zara,Shopping,NaN
20,20,Starbucks,Foods and Drinks,NaN
21,21,Burger King,Foods and Drinks,NaN
22,22,Game The Shop,Shopping,NaN
23,23,CEX,Shopping,NaN
24,24,Jockey,Shopping,NaN
25,25,Hamleys,Shopping,NaN
26,26,American Tourister,Shopping,NaN
27,27,Manyavar,Shopping,NaN
28,28,Raymond,Shopping,NaN
29,29,Bose,Shopping,NaN
30,30,Land Mark,Shopping,NaN
31,31,Zara,Shopping,NaN
32,32,H&M,Shopping,NaN
33,33,Sony,Shopping,NaN
34,34,Samsonite,Shopping,NaN
35,35,Skechers,Shopping,NaN
36,36,Nike,Shopping,NaN
37,37,Pepe Jeans,Shopping,NaN
38,38,Jack and Jones,Shopping,NaN
39,39,Lens Kart,Shopping,NaN
40,40,Lenovo,Shopping,NaN
41,41,Croma,Shopping,NaN
42,42,Lacoste,Shopping,NaN
43,43,iPlanet,Shopping,NaN
44,44,Gap,Shopping,NaN
45,45,Fastrack,Shopping,NaN
46,46,Samsung,Shopping,NaN
47,47,Miniso,Shopping,NaN
48,48,Mi Store,Shopping,NaN
49,49,Chumbak,Shopping,NaN
50,50,Ramaiah Hospital,Health,NaN
51,51,PVR,Entertainment,NaN
52,52,Inox,Entertainment,NaN
53,53,Cinepolis,Entertainment,NaN
54,54,Apollo Pharmacy,Health,NaN
55,55,Bata,Shopping,NaN
56,56,Being Human,Shopping,NaN
57,57,Fitbit,Shopping,NaN
58,58,Amazon (AMZN),Shopping,NaN
59,59,PatymMall,Shopping,NaN
60,60,Flipkart,Shopping,NaN
61,61,Myntra,Shopping,NaN
62,62,Zoomcar,Travel,NaN
63,63,HP World,Shopping,NaN
64,64,Vogo,Travel,NaN
65,65,Bounce,Travel,NaN
66,66,Gilly's,Foods and Drinks,NaN
67,67,Plated,Foods and Drinks,NaN
68,68,Plan B,Foods and Drinks,NaN
69,69,Smally's,Foods and Drinks,NaN
70,70,Smoke House,Foods and Drinks,NaN
71,71,Chin lung,Foods and Drinks,NaN
72,71,Sherlock's Pub,Foods and Drinks,NaN
73,73,Sarjapur Social,Foods and Drinks,NaN
74,74,No Limmits,Foods and Drinks,NaN
75,75,Nandi Hangout,Foods and Drinks,NaN
76,76,Zomato,Foods and Drinks,NaN
77,77,Swiggy,Foods and Drinks,NaN
78,78,Dominos,Foods and Drinks,NaN
79,79,Tawa Tandoor,Foods and Drinks,NaN
80,80,Burp,Foods and Drinks,NaN
81,81,Vinny's,Foods and Drinks,NaN
82,82,Chapter One,Foods and Drinks,NaN
83,83,Cuppa,Foods and Drinks,NaN
84,84,Polar Bear,Foods and Drinks,NaN
85,85,Beijing Bites,Foods and Drinks,NaN
86,86,Mr Goofy's,Foods and Drinks,NaN
87,87,Stoned Monkey,Foods and Drinks,NaN
88,88,Leon Grill,Foods and Drinks,NaN
89,89,Adidas,Shopping,NaN
90,90,Reebok,Shopping,NaN
91,91,Fortis Hospital,Health,NaN
92,92,Narayana Hospital,Health,NaN
93,93,Sky Bags,Shopping,NaN
94,94,Bangalore Central,Shopping,NaN
95,95,Tanishq,Shopping,NaN
96,96,Poorvika Mobile,Shopping,NaN
97,97,Aabushan,Shopping,NaN
98,98,Ray Ban,Shopping,NaN
99,99,Bluo,Entertainment,NaN
100,100,Smaash,Entertainment,NaN
101,101,Titan Eye Plus,Shopping,NaN
102,102,Tissot,Shopping,NaN
103,103,USPA,Shopping,NaN
104,104,Vans,Shopping,NaN
105,105,VIP,Shopping,NaN
106,106,Make My Trip,Travel,NaN
107,107,Go Ibibo,Travel,NaN
108,108,Clear Trip,Travel,NaN
109,109,5 Computers,Shopping,NaN
110,110,Canon,Shopping,NaN
111,111,Spar Hypermarket,Groceries,NaN
112,112,Reliance Jewels,Shopping,NaN
113,113,SK Rolls,Foods and Drinks,NaN
114,114,Crossword,Shopping,NaN
115,115,O2 Spa,Personal Care,NaN
116,116,Super Dry,Shopping,NaN
117,117,Only,Shopping,NaN
118,118,Biba,Shopping,NaN
119,119,Paypal,Transfer,NaN
120,120,Bharat Petroleum,Fuel,NaN
121,121,Indian Oil,Fuel,NaN
122,122,Hindustan Petroleum,Fuel,NaN
123,123,Shell,Fuel,NaN
124,124,IRCTC,Travel,NaN
125,125,Uber,Travel,NaN
126,126,Ola,Travel,NaN
127,127,Meru Cabs,Travel,NaN
128,128,Skull Candy,Shopping,NaN
129,129,Kaya Skin Clinic,Personal Care,NaN
130,130,Hairspeak,Personal Care,NaN
131,131,Invogue Salon,Personal Care,NaN
132,132,BBlunt,Personal Care,NaN
133,133,Javed Habib,Personal Care,NaN
134,134,BESCOM,Bills,NaN
135,135,Dish TV India (Dish Infra),Bills,NaN
136,136,Ion Broadband,Bills,NaN
137,137,Tatasky,Bills,NaN
138,138,MESCOM,Bills,NaN
139,139,Netflix,Entertainment,NaN
140,140,Hotstar,Entertainment,NaN
141,141,Zee5,Entertainment,NaN
142,142,AltBalaji,Entertainment,NaN
143,143,1mg,Health,NaN
144,144,Dunzo,Courier,NaN
145,145,Eat Fit,Foods and Drinks,NaN
146,146,Fresh Menu,Foods and Drinks,NaN
147,147,Gold's Gym,Personal Care,NaN
148,148,CultFit,Personal Care,NaN
149,149,Booking,Travel,NaN
150,150,Rapido,Travel,NaN
151,151,Revv,Travel,NaN
152,152,Myles Car,Travel,NaN
153,153,Nearbuy,Foods and Drinks,NaN
154,154,HeathXP,Health,NaN
155,155,Big Basket,Groceries,NaN
156,156,Grofers,Groceries,NaN
157,157,Chai Point,Foods and Drinks,NaN
158,158,Drops Liquor,Foods and Drinks,NaN
159,159,Dell,Shopping,NaN
160,160,Acer,Shopping,NaN
161,161,PrestigeGroup,Other,NaN
162,162,Citizen Watches,Shopping,NaN
163,163,Decathlon,Shopping,NaN
164,164,Ikea,Shopping,NaN
165,165,Royal Oak Furniture,Shopping,NaN
166,166,William Penn,Shopping,NaN
167,167,Bluedart,Courier,NaN
168,168,FedEx,Courier,NaN
169,169,HomeTown,Shopping,NaN
170,170,Bombay Dyeing,Shopping,NaN
171,171,Pantaloons,Shopping,NaN
172,172,Taj Hotels,Travel,NaN
173,173,BBBP Bengal,Other,NaN
174,174,Bigtree,Other,NaN
175,175,Ease My Trip (EasyTrip),Travel,NaN
176,176,Swathi Hospital,Health,NaN
177,177,Airplaza Retail,Other,NaN
178,178,Sri Manjuna,Other,NaN
179,179,Premier Service Bangalore,Other,NaN
180,180,UTH Fashion,Shopping,NaN
181,181,Mariya Mart,Groceries,NaN
182,182,Rolls on Wheel,Foods and Drinks,NaN
183,183,Levitate Brewery Bangalore,Foods and Drinks,NaN
184,184,Cash Withdrawal (cashwdl),Cash Withdrawal,NaN
185,185,Sai Sarvana,Foods and Drinks,NaN
186,186,Big Bazaar,Groceries,NaN
187,187,Book My Show,Entertainment,NaN
188,188,UIDAI,Other,NaN
189,189,Dentist Clinic,Health,NaN
190,190,Skin Clinic,Health,NaN
191,191,Ear Nose Throat (ENT) Clinic,Health,NaN
192,192,Eye Clinic,Health,NaN
193,193,Gynaecologist Clinic,Health,NaN
194,194,Physiotheraphy Clinic,Health,NaN
195,195,Psychiatrist Clinic,Health,NaN
196,196,Sexologist,Health,NaN
197,197,Simple Pay,Bills,NaN
198,198,Easebuzz,Other,NaN
199,199,Lazy Pay,Bills,NaN
200,200,TP Kotak Life Insurance,Insurance,NaN
201,201,IndiaFirst Life Insurance,Insurance,NaN
202,202,Max Life Insurance,Insurance,NaN
203,203,TP ExideLife Insurance,Insurance,NaN
204,204,Aditya Birla Sun Life Insurance,Insurance,NaN
205,205,AEGON Life Insurance,Insurance,NaN
206,206,Bajaj Allianz Life Insurance,Insurance,NaN
207,207,Bharti AXA Life Insurance,Insurance,NaN
208,208,HDFCLTD,Loan (EMI),NaN
209,209,HDFC Bank Personal Loan,Loan (EMI),NaN
210,210,SBI Personal Loan,Loan (EMI),NaN
211,211,PNB Personal Loan,Loan (EMI),NaN
212,212,Mahindra Finance Personal Loan,Loan (EMI),NaN
213,213,IDBI Home Loan,Loan (EMI),NaN
214,214,PNB Housing Finance,Loan (EMI),NaN
215,215,Rent,Rent,NaN
216,216,EMI,Loan (EMI),NaN
217,217,HDFC CC PMT (HDFC Credit Card Payment),Credit Card,NaN
218,218,HDFC Regalia CC PMT,Credit Card,NaN
219,219,SBI Elite CC PMT,Credit Card,NaN
220,220,Axis Privilege CC PMT,Credit Card,NaN
221,221,Citi Prestige CC PMT,Credit Card,NaN
222,222,Amex Platinum CC PMT,Credit Card,NaN
223,223,ICICI CC PMT (ICICI Bank Credit Card Ca),Credit Card,NaN
224,224,Transfer,Transfer,NaN
225,225,Credit Card,Credit Card,NaN
226,226,AD LIC,Insurance,NaN
227,227,Motilal Oswal,Investment,NaN
228,228,BSE ISIP,Investment,NaN
229,229,NPS Trust,Investment,NaN
230,230,State Bank Card (SBICARD),Credit Card,NaN
231,231,SAL FINTECH PRODUCTS and SOLUTIONS,Investment,NaN
232,231,PMSBY,Insurance,NaN
233,232,PMJJY,Insurance,NaN
234,233,Principal Mutual Fund,Investment,NaN
235,234,MTL OSWL,Investment,NaN

In [36]:
#Function to remove whitespace (called by simply_string)
def remove(string): 
    return string.replace(" ", "") 
#Function to bring entire string to lower case and remove any spaces
def simplify_string(string):
    string = remove(string)
    string = string.casefold()
    return string
#Function to parse UPI id
import re
def parse_upi(string):
    alphanumeric = ""
    pattern = '[0-9.]'
    string = re.sub(pattern,'',string)
    tup = string.partition('@')
    return tup[0]
    
def parse_cms(string):
    pattern = '[0-9_]'
    return re.sub(pattern,'',string)

In [37]:
#Function to find which transaction indicates which brand
'''
def detect_brands(merchant, merchant_df, brands):
    f = selector_dict[merchant]
    if merchant=="UPI":
        trans_data1= merchant_df[f[0]].apply(simplify_string)
        trans_data2= merchant_df[f[1]].apply(simplify_string)
        trans_data2=trans_data2.apply(parse_upi)
        trans_data =trans_data1.str.cat(trans_data2, sep =",")
    elif merchant=="CMS":
        trans_data= merchant_df[f[0]].apply(simplify_string)
        trans_data=trans_data.apply(parse_cms)
    elif merchant=="BIL":
        trans_data1= merchant_df[f[0]].apply(simplify_string)
        trans_data2= merchant_df[f[1]].apply(simplify_string)
        trans_data = trans_data1.str.cat(trans_data2, sep ="")
        
    else:
        trans_data= merchant_df[f[0]].apply(simplify_string)
    brands = brands.apply(simplify_string)
    #print("brands: \n", brands)
    #print("trans_summaries: \n", trans_data)
    print("The total transactions under ",merchant,": ",len(trans_data))
    matching_count = 0
    matched = 0
    if merchant!="UPI":
        for t in trans_data:
            matched = 0
            for b in brands:
                index1 = t.find(b)
                index2 = b.find(t)
            
                if index1!=-1: #and index2!=-1:
                    #print(t)
                    matched = 1
                    matching_count+=1
                    continue
                elif index2!=-1:
                    #print(t)
                    matched = 1
                    matching_count+=1
                    continue
            if matched == 0:
                print(t)
    
    if merchant=="UPI":
        print("Trying with UPI ID")
        for t in trans_data:
            tup1= t.partition(',')
            t1 = tup1[0]
            t2 = tup1[2]
            matched = 0
            for b in brands:
                index1 = t1.find(b)
                index2 = b.find(t1)
            
                if index1!=-1: #and index2!=-1:
                    #print(t)
                    matched = 1
                    matching_count+=1
                    continue
                elif index2!=-1:
                    #print(t)
                    matched = 1
                    matching_count+=1
                    continue
            if matched == 0:
                print ("Matching no. 2")
                #print("t2: ",t2)
                for b in brands:
                    index1 = t2.find(b)
                    index2 = b.find(t2)
            
                    if index1!=-1: #and index2!=-1:
                        #print(t)
                        matched = 1
                        matching_count+=1
                        continue
                    elif index2!=-1:
                        #print(t)
                        matched = 1
                        matching_count+=1
                        continue
            if matched == 0:
                print("Not found: ",tup1)
                                 
    print("Matched brands: ",matching_count)
    '''

'\ndef detect_brands(merchant, merchant_df, brands):\n    f = selector_dict[merchant]\n    if merchant=="UPI":\n        trans_data1= merchant_df[f[0]].apply(simplify_string)\n        trans_data2= merchant_df[f[1]].apply(simplify_string)\n        trans_data2=trans_data2.apply(parse_upi)\n        trans_data =trans_data1.str.cat(trans_data2, sep =",")\n    elif merchant=="CMS":\n        trans_data= merchant_df[f[0]].apply(simplify_string)\n        trans_data=trans_data.apply(parse_cms)\n    elif merchant=="BIL":\n        trans_data1= merchant_df[f[0]].apply(simplify_string)\n        trans_data2= merchant_df[f[1]].apply(simplify_string)\n        trans_data = trans_data1.str.cat(trans_data2, sep ="")\n        \n    else:\n        trans_data= merchant_df[f[0]].apply(simplify_string)\n    brands = brands.apply(simplify_string)\n    #print("brands: \n", brands)\n    #print("trans_summaries: \n", trans_data)\n    print("The total transactions under ",merchant,": ",len(trans_data))\n    matching_count = 0\n    matched = 0\n    if merchant!="UPI":\n        for t in trans_data:\n            matched = 0\n            for b in brands:\n                index1 = t.find(b)\n                index2 = b.find(t)\n            \n                if index1!=-1: #and index2!=-1:\n                    #print(t)\n                    matched = 1\n                    matching_count+=1\n                    continue\n                elif index2!=-1:\n                    #print(t)\n                    matched = 1\n                    matching_count+=1\n                    continue\n            if matched == 0:\n                print(t)\n    \n    if merchant=="UPI":\n        print("Trying with UPI ID")\n        for t in trans_data:\n            tup1= t.partition(\',\')\n            t1 = tup1[0]\n            t2 = tup1[2]\n            matched = 0\n            for b in brands:\n                index1 = t1.find(b)\n                index2 = b.find(t1)\n            \n                if index1!=-1: #and index2!=-1:\n                    #print(t)\n                    matched = 1\n                    matching_count+=1\n                    continue\n                elif index2!=-1:\n                    #print(t)\n                    matched = 1\n                    matching_count+=1\n                    continue\n            if matched == 0:\n                print ("Matching no. 2")\n                #print("t2: ",t2)\n                for b in brands:\n                    index1 = t2.find(b)\n                    index2 = b.find(t2)\n            \n                    if index1!=-1: #and index2!=-1:\n                        #print(t)\n                        matched = 1\n                        matching_count+=1\n                        continue\n                    elif index2!=-1:\n                        #print(t)\n                        matched = 1\n                        matching_count+=1\n                        continue\n            if matched == 0:\n                print("Not found: ",tup1)\n                                 \n    print("Matched brands: ",matching_count)\n    '

In [38]:
#detect_brands(merchants_list[0],merchants_df_dict[merchants_list[0]], brands)
#print (merchants_list[9]) #,merchants_df_dict[merchants_list[0]]

In [39]:
type(df[df["narration"]=="SAL FINTECH PRODUCTS and SOLUTIONS DEC 2019"]["txnId"])

pandas.core.series.Series

In [40]:
df.loc[df['txnId']=='M3258741','mode'].values[0]

'UPI'

In [41]:
type(df["txnId"][0])

str

In [42]:
output_df = df.copy()

In [43]:
output_df.drop(["transactionTimestamp", "narration", "reference"],axis = 1, inplace = True)

In [44]:
output_df

         txnId    mode     amount    balance    type   valueDate
0     M3258741     UPI    1239.00   62289.25   DEBIT  2019-12-19
1     M3917183     UPI      16.00   62073.25   DEBIT  2019-12-20
2     M4246404     UPI    1432.00   60641.25   DEBIT  2019-12-21
3     M5563288  OTHERS     710.50   45595.49   DEBIT  2019-12-21
4     M5892509    CARD    4101.00   41494.49   DEBIT  2019-12-22
5     M6221730  OTHERS     200.00   41294.49   DEBIT  2019-12-22
6     M6550951     ATM   10000.00   31294.49   DEBIT  2019-12-25
7     M6880172      FT    2138.00   29156.49   DEBIT  2019-12-30
8     M7209393      FT     330.00   28826.49   DEBIT  2019-12-30
9     M7867835  OTHERS     518.00   27228.49  CREDIT  2019-12-30
10    M8526277      FT    2097.44   24769.05   DEBIT  2020-01-01
11    M9513940      FT    2024.55   22576.50   DEBIT  2020-01-03
12   M10501603    CARD    1297.00   21193.50   DEBIT  2020-01-05
13   M11160045    CASH    5000.00   16176.50   DEBIT  2020-01-05
14   M11489266      FT    5000.00   11176.50   DEBIT  2020-01-06
15   M11818487      FT    5000.00    6176.50   DEBIT  2020-01-07
16   M12147708      FT    5000.00    1176.50   DEBIT  2020-01-07
17   M12806150      FT    3062.00    3114.50   DEBIT  2020-01-07
18   M14452255      FT     464.00   31916.50   DEBIT  2020-01-09
19   M14781476      FT   50000.00   81916.50  CREDIT  2020-01-09
20   M15110697      FT   30000.00   51916.50   DEBIT  2020-01-10
21   M15439918    CARD     935.18   50981.32   DEBIT  2020-01-10
22   M15769139    CARD     540.00   50441.32   DEBIT  2020-01-11
23   M16098360     UPI      50.00   50391.32   DEBIT  2020-01-12
24   M16427581      FT  150000.00  200391.32  CREDIT  2020-01-12
25   M16756802      FT   50000.00  150391.32   DEBIT  2020-01-12
26   M17086023      FT   12000.00  138391.32   DEBIT  2020-01-12
27   M17415244      FT   12600.00  125791.32   DEBIT  2020-01-12
28   M18073686      FT   24827.00   98564.32   DEBIT  2020-01-12
29   M19390570     ATM   10000.00   86051.82   DEBIT  2020-01-12
30   M20049012     UPI    1000.00   84991.82   DEBIT  2020-01-15
31   M20707454    CARD     280.00   84691.82   DEBIT  2020-01-17
32   M21365896      FT     881.06   83760.76   DEBIT  2020-01-18
33   M23341222    CASH    5000.00   66926.76   DEBIT  2020-01-24
34   M24328885     UPI    3041.91   63394.85   DEBIT  2020-01-26
35   M24658106     UPI     203.00   63191.85   DEBIT  2020-01-28
36   M24987327      FT    2138.00   61053.85   DEBIT  2020-01-30
37   M25645769    CARD     300.00   60728.85   DEBIT  2020-01-31
38   M26304211     UPI      20.00   59728.85   DEBIT  2020-02-01
39   M26962653    CASH    5000.00   54568.85   DEBIT  2020-02-02
40   M27291874      FT    5266.26   49302.59   DEBIT  2020-02-02
41   M27621095    CARD     833.00   48469.59   DEBIT  2020-02-03
42   M28279537      FT    2024.55   46295.04   DEBIT  2020-02-03
43   M28937979    CARD     399.00   45898.29   DEBIT  2020-02-05
44   M29267200      FT    5000.00   40898.29   DEBIT  2020-02-05
45   M29596421    CASH   10000.00   30898.29   DEBIT  2020-02-07
46   M29925642      FT    5000.00   25898.29   DEBIT  2020-02-07
47   M30254863      FT    5000.00   20898.29   DEBIT  2020-02-07
48   M30584084      FT    3062.00   17836.29   DEBIT  2020-02-08
49   M30913305      FT     464.00   17372.29   DEBIT  2020-02-08
50   M31242526      FT     100.00   17272.29   DEBIT  2020-02-08
51   M31571747      FT  150000.00  167272.29  CREDIT  2020-02-08
52   M31900968      FT   12000.00  155272.29   DEBIT  2020-02-08
53   M32230189      FT   15000.00  140272.29   DEBIT  2020-02-08
54   M32559410      FT    9095.00  131177.29   DEBIT  2020-02-08
55   M34205515    CARD    2656.00  121058.29   DEBIT  2020-02-10
56   M34534736      FT   30000.00   91058.29   DEBIT  2020-02-10
57   M35193178    CARD    2187.00   87500.29   DEBIT  2020-02-13
58   M35522399    CASH     300.00   87200.29   DEBIT  2020-02-14
59   M36180841      FT   20000.71   67005.58   DEBIT  2020-02-16
60   M39143830    CARD     165.00   64574.58   DEBIT  2020-02-21
61   M39802272    CASH   10000.00   53509.58   DEBIT  2020-02-22
62   M40131493     UPI     928.55   52581.03   DEBIT  2020-02-22
63   M40789935      FT     496.00   52090.03   DEBIT  2020-02-27
64   M41119156    CARD     170.00   51920.03   DEBIT  2020-02-28
65   M41777598      FT    2138.00   49712.03   DEBIT  2020-02-29
66   M43423703      FT    2024.55   46947.48   DEBIT  2020-03-03
67   M44082145    CARD   10000.00   36797.48   DEBIT  2020-03-04
68   M44411366      FT  100000.00  136797.48  CREDIT  2020-03-04
69   M45069808      FT    5000.00  131235.48   DEBIT  2020-03-07
70   M45399029      FT    5000.00  126235.48   DEBIT  2020-03-07
71   M45728250      FT    3561.26  122674.22   DEBIT  2020-03-07
72   M46057471      FT   15000.00  107674.22   DEBIT  2020-03-07
73   M46386692      FT   12000.00   95674.22   DEBIT  2020-03-07
74   M46715913      FT   17000.00   78674.22   DEBIT  2020-03-07
75   M47045134      FT    8559.00   70115.22   DEBIT  2020-03-07
76   M47374355      FT   50000.00  120115.22  CREDIT  2020-03-07
77   M47703576      FT    6336.00  113779.22   DEBIT  2020-03-07
78   M48032797  OTHERS    3062.00  110717.22   DEBIT  2020-03-07
79   M48362018      FT     442.00  110275.22   DEBIT  2020-03-07
80   M49678902      FT    7534.00   99586.12   DEBIT  2020-03-10
81   M50008123      FT    5000.00   94586.12   DEBIT  2020-03-11
82   M50337344      FT   30000.00   64586.12   DEBIT  2020-03-14
83   M50995786     UPI     600.00   63846.12   DEBIT  2020-03-16
84   M51325007     ATM   10000.00   53846.12   DEBIT  2020-03-16
85   M51654228      FT   39104.24   92950.36  CREDIT  2020-03-18
86   M51983449      FT   33070.22  126020.58  CREDIT  2020-03-19
87   M52641891      FT   62438.37  187942.95  CREDIT  2020-03-19
88   M52971112      FT  106982.95  294925.90  CREDIT  2020-03-19
89   M53300333      FT  150000.00  144925.90   DEBIT  2020-03-21
90   M54946438      FT    1574.00   92291.82   DEBIT  2020-03-25
91   M56263322    CASH   10000.00   81601.46   DEBIT  2020-03-29
92   M56921764  OTHERS     594.00   80996.46  CREDIT  2020-03-30
93   M57250985      FT    2138.00   78858.46   DEBIT  2020-03-30
94   M57580206    CARD    1575.00   77283.46   DEBIT  2020-04-02
95   M58238648      FT     503.00   76600.46   DEBIT  2020-04-07
96   M58897090      FT    2024.55   74425.91   DEBIT  2020-04-07
97   M59226311      FT    5000.00   69425.91   DEBIT  2020-04-07
98   M59555532      FT    5000.00   64425.91   DEBIT  2020-04-07
99   M59884753      FT    5000.00   59425.91   DEBIT  2020-04-08
100  M60543195  OTHERS    3062.00   56450.47   DEBIT  2020-04-08
101  M60872416      FT     974.00   55476.47   DEBIT  2020-04-08
102  M61201637      FT   15408.00   40068.47   DEBIT  2020-04-08
103  M61530858      FT  100000.00  140068.47  CREDIT  2020-04-09
104  M61860079      FT   15000.00  125068.47   DEBIT  2020-04-09
105  M62189300      FT   12000.00  115068.47   DEBIT  2020-04-09
106  M64164626      FT   30000.00   69343.47   DEBIT  2020-04-25
107  M66469173      FT    3294.00   64190.97   DEBIT  2020-05-02
108  M67127615      FT    2138.00   61962.97   DEBIT  2020-05-04
109  M68444499      FT    2024.55   59243.42   DEBIT  2020-05-06
110  M68773720      FT  150000.00  159243.42  CREDIT  2020-05-07
111  M69761383      FT    5000.00  147857.42   DEBIT  2020-05-09
112  M70090604  OTHERS    3062.00  144795.42   DEBIT  2020-05-09
113  M70419825      FT   12000.00  135795.42   DEBIT  2020-05-09
114  M70749046      FT    9000.00  131053.42   DEBIT  2020-05-10
115  M71078267      FT    4742.00  115657.42   DEBIT  2020-05-11
116  M71407488      FT   15000.00  100657.42   DEBIT  2020-05-15
117  M72065930      FT   30000.00   70600.42   DEBIT  2020-05-19
118  M73712035  OTHERS      12.00   68415.42   DEBIT  2020-05-24
119  M74041256      FT    4058.00   64357.42   DEBIT  2020-05-25
120  M75358140      FT    2138.00   61125.42   DEBIT  2020-06-03
121  M76675024      FT    2024.55   50851.87   DEBIT  2020-06-04
122  M77333466      FT  100000.00  141851.87  CREDIT  2020-06-08
123  M77991908      FT    3000.00  133851.87   DEBIT  2020-06-11
124  M78321129  OTHERS    3062.00  130789.87   DEBIT  2020-06-11
125  M78650350      FT   30000.00  100789.87   DEBIT  2020-06-11
126  M78979571      FT   16037.22  116827.09  CREDIT  2020-06-13
127  M79308792      FT   15691.88  132518.97  CREDIT  2020-06-16

In [45]:
#output_df.at[df["txnId"]=="M3258741"]["brand"] = "yash"

In [46]:
#To find the row index where the some condtion is met
#index = output_df.index[output_df['txnId']=="M6221730"].tolist()

In [47]:
#To assign value to new cell of dataframe using row index and column name
#output_df.at[index[0], "brand"] = "Nike"

In [48]:
output_df["brand"] = ""

In [49]:
output_df["category"] = ""

In [50]:
output_df

,txnId,mode,amount,balance,type,valueDate,brand,category
0,M3258741,UPI,1239.00,62289.25,DEBIT,2019-12-19,,
1,M3917183,UPI,16.00,62073.25,DEBIT,2019-12-20,,
2,M4246404,UPI,1432.00,60641.25,DEBIT,2019-12-21,,
3,M5563288,OTHERS,710.50,45595.49,DEBIT,2019-12-21,,
4,M5892509,CARD,4101.00,41494.49,DEBIT,2019-12-22,,
5,M6221730,OTHERS,200.00,41294.49,DEBIT,2019-12-22,,
6,M6550951,ATM,10000.00,31294.49,DEBIT,2019-12-25,,
7,M6880172,FT,2138.00,29156.49,DEBIT,2019-12-30,,
8,M7209393,FT,330.00,28826.49,DEBIT,2019-12-30,,
9,M7867835,OTHERS,518.00,27228.49,CREDIT,2019-12-30,,
10,M8526277,FT,2097.44,24769.05,DEBIT,2020-01-01,,
11,M9513940,FT,2024.55,22576.50,DEBIT,2020-01-03,,
12,M10501603,CARD,1297.00,21193.50,DEBIT,2020-01-05,,
13,M11160045,CASH,5000.00,16176.50,DEBIT,2020-01-05,,
14,M11489266,FT,5000.00,11176.50,DEBIT,2020-01-06,,
15,M11818487,FT,5000.00,6176.50,DEBIT,2020-01-07,,
16,M12147708,FT,5000.00,1176.50,DEBIT,2020-01-07,,
17,M12806150,FT,3062.00,3114.50,DEBIT,2020-01-07,,
18,M14452255,FT,464.00,31916.50,DEBIT,2020-01-09,,
19,M14781476,FT,50000.00,81916.50,CREDIT,2020-01-09,,
20,M15110697,FT,30000.00,51916.50,DEBIT,2020-01-10,,
21,M15439918,CARD,935.18,50981.32,DEBIT,2020-01-10,,
22,M15769139,CARD,540.00,50441.32,DEBIT,2020-01-11,,
23,M16098360,UPI,50.00,50391.32,DEBIT,2020-01-12,,
24,M16427581,FT,150000.00,200391.32,CREDIT,2020-01-12,,
25,M16756802,FT,50000.00,150391.32,DEBIT,2020-01-12,,
26,M17086023,FT,12000.00,138391.32,DEBIT,2020-01-12,,
27,M17415244,FT,12600.00,125791.32,DEBIT,2020-01-12,,
28,M18073686,FT,24827.00,98564.32,DEBIT,2020-01-12,,
29,M19390570,ATM,10000.00,86051.82,DEBIT,2020-01-12,,
30,M20049012,UPI,1000.00,84991.82,DEBIT,2020-01-15,,
31,M20707454,CARD,280.00,84691.82,DEBIT,2020-01-17,,
32,M21365896,FT,881.06,83760.76,DEBIT,2020-01-18,,
33,M23341222,CASH,5000.00,66926.76,DEBIT,2020-01-24,,
34,M24328885,UPI,3041.91,63394.85,DEBIT,2020-01-26,,
35,M24658106,UPI,203.00,63191.85,DEBIT,2020-01-28,,
36,M24987327,FT,2138.00,61053.85,DEBIT,2020-01-30,,
37,M25645769,CARD,300.00,60728.85,DEBIT,2020-01-31,,
38,M26304211,UPI,20.00,59728.85,DEBIT,2020-02-01,,
39,M26962653,CASH,5000.00,54568.85,DEBIT,2020-02-02,,
40,M27291874,FT,5266.26,49302.59,DEBIT,2020-02-02,,
41,M27621095,CARD,833.00,48469.59,DEBIT,2020-02-03,,
42,M28279537,FT,2024.55,46295.04,DEBIT,2020-02-03,,
43,M28937979,CARD,399.00,45898.29,DEBIT,2020-02-05,,
44,M29267200,FT,5000.00,40898.29,DEBIT,2020-02-05,,
45,M29596421,CASH,10000.00,30898.29,DEBIT,2020-02-07,,
46,M29925642,FT,5000.00,25898.29,DEBIT,2020-02-07,,
47,M30254863,FT,5000.00,20898.29,DEBIT,2020-02-07,,
48,M30584084,FT,3062.00,17836.29,DEBIT,2020-02-08,,
49,M30913305,FT,464.00,17372.29,DEBIT,2020-02-08,,
50,M31242526,FT,100.00,17272.29,DEBIT,2020-02-08,,
51,M31571747,FT,150000.00,167272.29,CREDIT,2020-02-08,,
52,M31900968,FT,12000.00,155272.29,DEBIT,2020-02-08,,
53,M32230189,FT,15000.00,140272.29,DEBIT,2020-02-08,,
54,M32559410,FT,9095.00,131177.29,DEBIT,2020-02-08,,
55,M34205515,CARD,2656.00,121058.29,DEBIT,2020-02-10,,
56,M34534736,FT,30000.00,91058.29,DEBIT,2020-02-10,,
57,M35193178,CARD,2187.00,87500.29,DEBIT,2020-02-13,,
58,M35522399,CASH,300.00,87200.29,DEBIT,2020-02-14,,
59,M36180841,FT,20000.71,67005.58,DEBIT,2020-02-16,,
60,M39143830,CARD,165.00,64574.58,DEBIT,2020-02-21,,
61,M39802272,CASH,10000.00,53509.58,DEBIT,2020-02-22,,
62,M40131493,UPI,928.55,52581.03,DEBIT,2020-02-22,,
63,M40789935,FT,496.00,52090.03,DEBIT,2020-02-27,,
64,M41119156,CARD,170.00,51920.03,DEBIT,2020-02-28,,
65,M41777598,FT,2138.00,49712.03,DEBIT,2020-02-29,,
66,M43423703,FT,2024.55,46947.48,DEBIT,2020-03-03,,
67,M44082145,CARD,10000.00,36797.48,DEBIT,2020-03-04,,
68,M44411366,FT,100000.00,136797.48,CREDIT,2020-03-04,,
69,M45069808,FT,5000.00,131235.48,DEBIT,2020-03-07,,
70,M45399029,FT,5000.00,126235.48,DEBIT,2020-03-07,,
71,M45728250,FT,3561.26,122674.22,DEBIT,2020-03-07,,
72,M46057471,FT,15000.00,107674.22,DEBIT,2020-03-07,,
73,M46386692,FT,12000.00,95674.22,DEBIT,2020-03-07,,
74,M46715913,FT,17000.00,78674.22,DEBIT,2020-03-07,,
75,M47045134,FT,8559.00,70115.22,DEBIT,2020-03-07,,
76,M47374355,FT,50000.00,120115.22,CREDIT,2020-03-07,,
77,M47703576,FT,6336.00,113779.22,DEBIT,2020-03-07,,
78,M48032797,OTHERS,3062.00,110717.22,DEBIT,2020-03-07,,
79,M48362018,FT,442.00,110275.22,DEBIT,2020-03-07,,
80,M49678902,FT,7534.00,99586.12,DEBIT,2020-03-10,,
81,M50008123,FT,5000.00,94586.12,DEBIT,2020-03-11,,
82,M50337344,FT,30000.00,64586.12,DEBIT,2020-03-14,,
83,M50995786,UPI,600.00,63846.12,DEBIT,2020-03-16,,
84,M51325007,ATM,10000.00,53846.12,DEBIT,2020-03-16,,
85,M51654228,FT,39104.24,92950.36,CREDIT,2020-03-18,,
86,M51983449,FT,33070.22,126020.58,CREDIT,2020-03-19,,
87,M52641891,FT,62438.37,187942.95,CREDIT,2020-03-19,,
88,M52971112,FT,106982.95,294925.90,CREDIT,2020-03-19,,
89,M53300333,FT,150000.00,144925.90,DEBIT,2020-03-21,,
90,M54946438,FT,1574.00,92291.82,DEBIT,2020-03-25,,
91,M56263322,CASH,10000.00,81601.46,DEBIT,2020-03-29,,
92,M56921764,OTHERS,594.00,80996.46,CREDIT,2020-03-30,,
93,M57250985,FT,2138.00,78858.46,DEBIT,2020-03-30,,
94,M57580206,CARD,1575.00,77283.46,DEBIT,2020-04-02,,
95,M58238648,FT,503.00,76600.46,DEBIT,2020-04-07,,
96,M58897090,FT,2024.55,74425.91,DEBIT,2020-04-07,,
97,M59226311,FT,5000.00,69425.91,DEBIT,2020-04-07,,
98,M59555532,FT,5000.00,64425.91,DEBIT,2020-04-07,,
99,M59884753,FT,5000.00,59425.91,DEBIT,2020-04-08,,
100,M60543195,OTHERS,3062.00,56450.47,DEBIT,2020-04-08,,
101,M60872416,FT,974.00,55476.47,DEBIT,2020-04-08,,
102,M61201637,FT,15408.00,40068.47,DEBIT,2020-04-08,,
103,M61530858,FT,100000.00,140068.47,CREDIT,2020-04-09,,
104,M61860079,FT,15000.00,125068.47,DEBIT,2020-04-09,,
105,M62189300,FT,12000.00,115068.47,DEBIT,2020-04-09,,
106,M64164626,FT,30000.00,69343.47,DEBIT,2020-04-25,,
107,M66469173,FT,3294.00,64190.97,DEBIT,2020-05-02,,
108,M67127615,FT,2138.00,61962.97,DEBIT,2020-05-04,,
109,M68444499,FT,2024.55,59243.42,DEBIT,2020-05-06,,
110,M68773720,FT,150000.00,159243.42,CREDIT,2020-05-07,,
111,M69761383,FT,5000.00,147857.42,DEBIT,2020-05-09,,
112,M70090604,OTHERS,3062.00,144795.42,DEBIT,2020-05-09,,
113,M70419825,FT,12000.00,135795.42,DEBIT,2020-05-09,,
114,M70749046,FT,9000.00,131053.42,DEBIT,2020-05-10,,
115,M71078267,FT,4742.00,115657.42,DEBIT,2020-05-11,,
116,M71407488,FT,15000.00,100657.42,DEBIT,2020-05-15,,
117,M72065930,FT,30000.00,70600.42,DEBIT,2020-05-19,,
118,M73712035,OTHERS,12.00,68415.42,DEBIT,2020-05-24,,
119,M74041256,FT,4058.00,64357.42,DEBIT,2020-05-25,,
120,M75358140,FT,2138.00,61125.42,DEBIT,2020-06-03,,
121,M76675024,FT,2024.55,50851.87,DEBIT,2020-06-04,,
122,M77333466,FT,100000.00,141851.87,CREDIT,2020-06-08,,
123,M77991908,FT,3000.00,133851.87,DEBIT,2020-06-11,,
124,M78321129,OTHERS,3062.00,130789.87,DEBIT,2020-06-11,,
125,M78650350,FT,30000.00,100789.87,DEBIT,2020-06-11,,
126,M78979571,FT,16037.22,116827.09,CREDIT,2020-06-13,,
127,M79308792,FT,15691.88,132518.97,CREDIT,2020-06-16,,

In [97]:
def detect_brands(merchant, merchant_df, brand_df,output_df):
    output_df = output_df.copy()
    brand_df = brand_df.copy()
    merchant_df = merchant_df.copy()
    f = selector_dict[merchant]
    
    if merchant=="UPI":
        merchant_df[f[0]] = merchant_df[f[0]].apply(simplify_string)
        merchant_df[f[1]] = merchant_df[f[1]].apply(simplify_string)
        merchant_df[f[1]] = merchant_df[f[1]].apply(parse_upi)
        merchant_df[f[0]] = merchant_df[f[0]].str.cat(merchant_df[f[1]], sep =",")
        #print(merchant_df.head())
    elif merchant=="CMS":
        merchant_df[f[0]] = merchant_df[f[0]].apply(simplify_string)
        merchant_df[f[0]] = merchant_df[f[0]].apply(parse_cms)
        
    elif merchant=="BIL":
        merchant_df[f[0]] = merchant_df[f[0]].apply(simplify_string)
        merchant_df[f[1]] = merchant_df[f[1]].apply(simplify_string)
        merchant_df[f[0]] = merchant_df[f[0]] .str.cat(merchant_df[f[1]], sep ="")
        
    else:
        merchant_df[f[0]] = merchant_df[f[0]].apply(simplify_string)
        
    brand_df['parsed'] = brand_df['Brand_name'].apply(simplify_string)
    
    #print("brands: \n", brands)
    #print("trans_summaries: \n", trans_data)
    print("The total transactions under ",merchant,": ",len(merchant_df[f[0]]))
    matching_count = 0
    matched = 0
    if merchant!="UPI":
        print("Doing for: ",merchant)
        for index_t, row_t in merchant_df.iterrows():
            txnId = row_t['txnId']
            t = row_t[f[0]]
            matched = 0
            for index_b, row_b in brand_df.iterrows():
                b = row_b["parsed"]
                index1 = t.find(b)
                index2 = b.find(t)
            
                if index1!=-1: #and index2!=-1:
                    #print(t)
                    matched = 1
                    matched_brand = row_b["Brand_name"]
                    matched_category = row_b["Category"]
                    matching_count+=1
                    continue
                elif index2!=-1:
                    #print(t)
                    matched = 1
                    matched_brand = row_b["Brand_name"]
                    matched_category = row_b["Category"]
                    matching_count+=1
                    continue
            if matched == 0:
                print("Not found: ",t)
                matched_brand, matched_category = "Unknown", "Other"
            else:
                print("TxnId: ", txnId, "  Brand Name: ", matched_brand, "  Category: ",matched_category)
            
            index = output_df.index[output_df['txnId']==txnId].tolist()
            output_df.at[index[0], "brand"] = matched_brand
            output_df.at[index[0], "category"] = matched_category
    
    if merchant=="UPI":
        print("Doing for: ",merchant)
        for index_t, row_t in merchant_df.iterrows():
            txnId = row_t['txnId']
            #print(txnId)
            tup1= row_t[f[0]].partition(',')
            t1 = tup1[0]
            t2 = tup1[2]
            matched = 0
            for index_b, row_b in brand_df.iterrows():
                b = row_b["parsed"]
                index1 = t1.find(b)
                index2 = b.find(t1)
            
                if index1!=-1: #and index2!=-1:
                    #print(t)
                    matched = 1
                    matched_brand = row_b["Brand_name"]
                    matched_category = row_b["Category"]
                    matching_count+=1
                    continue
                elif index2!=-1:
                    #print(t)
                    matched = 1
                    matched_brand = row_b["Brand_name"]
                    matched_category = row_b["Category"]
                    matching_count+=1
                    continue
            if matched == 0:
                print ("Matching no. 2")
                #print("t2: ",t2)
                for index_b, row_b in brand_df.iterrows():
                    b = row_b["parsed"]
                    index1 = t2.find(b)
                    index2 = b.find(t2)
            
                    if index1!=-1: #and index2!=-1:
                        #print(t)
                        matched = 1
                        matched_brand = row_b["Brand_name"]
                        matched_category = row_b["Category"]
                        matching_count+=1
                        continue
                    elif index2!=-1:
                        #print(t)
                        matched = 1
                        matched_brand = row_b["Brand_name"]
                        matched_category = row_b["Category"]
                        matching_count+=1
                        continue
                
            if matched == 0:
                print("Not found: ",tup1)
                matched_brand, matched_category = t2, "Transfer"
            else:
                print("TxnId: ", txnId, "  Brand Name: ", matched_brand, "  Category: ",matched_category)
            
            index = output_df.index[output_df['txnId']==txnId].tolist()
            output_df.at[index[0], "brand"] = matched_brand
            output_df.at[index[0], "category"] = matched_category
    print("Matched brands: ",matching_count)
    return output_df

In [98]:
for i in range(len(merchants_list)):
    output_df = detect_brands(merchants_list[i],merchants_df_dict[merchants_list[i]], brand_df, output_df)

The total transactions under  UPI :  9
Doing for:  UPI
Matching no. 2
TxnId:  M3258741   Brand Name:  Simple Pay   Category:  Bills
Matching no. 2
TxnId:  M3917183   Brand Name:  Amazon (AMZN)   Category:  Shopping
Matching no. 2
TxnId:  M4246404   Brand Name:  Ola    Category:  Travel
Matching no. 2
TxnId:  M16098360   Brand Name:  UIDAI   Category:  Other
TxnId:  M20049012   Brand Name:  Easebuzz   Category:  Other
Matching no. 2
TxnId:  M24658106   Brand Name:  Fresh Menu   Category:  Foods and Drinks
Matching no. 2
TxnId:  M26304211   Brand Name:  Bharat Petroleum   Category:  Fuel
TxnId:  M40131493   Brand Name:  Zomato   Category:  Foods and Drinks
TxnId:  M50995786   Brand Name:  Dentist Clinic   Category:  Health
Matched brands:  9
The total transactions under  GIB :  1
Doing for:  GIB
Not found:  stax
Matched brands:  0
The total transactions under  VPS :  10
Doing for:  VPS
TxnId:  M10501603   Brand Name:  Swathi Hospital   Category:  Health
TxnId:  M15439918   Brand Name:  Airplaza Retail    Category:  Other
TxnId:  M20707454   Brand Name:  Sri Manjuna   Category:  Other
TxnId:  M25645769   Brand Name:  EMI   Category:  Loan (EMI)
TxnId:  M28937979   Brand Name:  Swathi Hospital   Category:  Health
TxnId:  M34205515   Brand Name:  UTH Fashion   Category:  Shopping
TxnId:  M35193178   Brand Name:  Levitate Brewery Bangalore   Category:  Foods and Drinks
TxnId:  M39143830   Brand Name:  Mariya Mart   Category:  Groceries
TxnId:  M41119156   Brand Name:  Rolls on Wheel   Category:  Foods and Drinks
TxnId:  M57580206   Brand Name:  Mariya Mart   Category:  Groceries
Matched brands:  11
The total transactions under  ATM :  3
Doing for:  ATM
TxnId:  M6550951   Brand Name:  Cash Withdrawal (cashwdl)   Category:  Cash Withdrawal
TxnId:  M19390570   Brand Name:  Cash Withdrawal (cashwdl)   Category:  Cash Withdrawal
TxnId:  M51325007   Brand Name:  Cash Withdrawal (cashwdl)   Category:  Cash Withdrawal
Matched brands:  3
The total transactions under  ACH :  18
Doing for:  ACH
TxnId:  M6880172   Brand Name:  TP Kotak Life Insurance   Category:  Insurance
TxnId:  M9513940   Brand Name:  TP ExideLife Insurance   Category:  Insurance
TxnId:  M15110697   Brand Name:  HDFCLTD   Category:  Loan (EMI)
TxnId:  M24987327   Brand Name:  TP Kotak Life Insurance   Category:  Insurance
TxnId:  M28279537   Brand Name:  TP ExideLife Insurance   Category:  Insurance
TxnId:  M34534736   Brand Name:  HDFCLTD   Category:  Loan (EMI)
TxnId:  M41777598   Brand Name:  TP Kotak Life Insurance   Category:  Insurance
TxnId:  M43423703   Brand Name:  TP ExideLife Insurance   Category:  Insurance
TxnId:  M50337344   Brand Name:  HDFCLTD   Category:  Loan (EMI)
TxnId:  M57250985   Brand Name:  TP Kotak Life Insurance   Category:  Insurance
TxnId:  M58897090   Brand Name:  TP ExideLife Insurance   Category:  Insurance
TxnId:  M64164626   Brand Name:  HDFCLTD   Category:  Loan (EMI)
TxnId:  M67127615   Brand Name:  TP Kotak Life Insurance   Category:  Insurance
TxnId:  M68444499   Brand Name:  TP ExideLife Insurance   Category:  Insurance
TxnId:  M72065930   Brand Name:  HDFCLTD   Category:  Loan (EMI)
TxnId:  M75358140   Brand Name:  TP Kotak Life Insurance   Category:  Insurance
TxnId:  M76675024   Brand Name:  TP ExideLife Insurance   Category:  Insurance
TxnId:  M78650350   Brand Name:  HDFCLTD   Category:  Loan (EMI)
Matched brands:  18
The total transactions under  MMT :  16
Doing for:  MMT
TxnId:  M17086023   Brand Name:  EMI   Category:  Loan (EMI)
TxnId:  M17415244   Brand Name:  Rent   Category:  Rent
TxnId:  M18073686   Brand Name:  HDFC CC PMT (HDFC Credit Card Payment)   Category:  Credit Card
TxnId:  M31900968   Brand Name:  EMI   Category:  Loan (EMI)
TxnId:  M32230189   Brand Name:  Rent   Category:  Rent
TxnId:  M32559410   Brand Name:  HDFC CC PMT (HDFC Credit Card Payment)   Category:  Credit Card
TxnId:  M46057471   Brand Name:  Rent   Category:  Rent
TxnId:  M46386692   Brand Name:  EMI   Category:  Loan (EMI)
TxnId:  M47045134   Brand Name:  HDFC CC PMT (HDFC Credit Card Payment)   Category:  Credit Card
TxnId:  M47374355   Brand Name:  Transfer   Category:  Transfer
TxnId:  M61201637   Brand Name:  Credit Card   Category:  Credit Card
TxnId:  M61860079   Brand Name:  Rent   Category:  Rent
TxnId:  M62189300   Brand Name:  EMI   Category:  Loan (EMI)
Not found:  forcarloan
TxnId:  M71078267   Brand Name:  HDFC CC PMT (HDFC Credit Card Payment)   Category:  Credit Card
TxnId:  M71407488   Brand Name:  Rent   Category:  Rent
Matched brands:  17
The total transactions under  IIN :  1
Doing for:  IIN
TxnId:  M48362018   Brand Name:  Dish TV India (Dish Infra)   Category:  Bills
Matched brands:  1
The total transactions under  IPS :  2
Doing for:  IPS
TxnId:  M15769139   Brand Name:  Sai Sarvana   Category:  Foods and Drinks
TxnId:  M24328885   Brand Name:  Big Bazaar   Category:  Groceries
Matched brands:  2
The total transactions under  VIN :  9
Doing for:  VIN
TxnId:  M5563288   Brand Name:  BBBP Bengal   Category:  Other
TxnId:  M7209393   Brand Name:  Swiggy   Category:  Foods and Drinks
TxnId:  M8526277   Brand Name:  IRCTC   Category:  Travel
TxnId:  M14452255   Brand Name:  Dish TV India (Dish Infra)   Category:  Bills
TxnId:  M21365896   Brand Name:  Bigtree   Category:  Other
TxnId:  M40789935   Brand Name:  Ola    Category:  Travel
TxnId:  M47703576   Brand Name:  Ease My Trip (EasyTrip)   Category:  Travel
TxnId:  M49678902   Brand Name:  Ease My Trip (EasyTrip)   Category:  Travel
TxnId:  M58238648   Brand Name:  Dish TV India (Dish Infra)   Category:  Bills
Matched brands:  9
The total transactions under  CMS :  6
Doing for:  CMS
TxnId:  M12806150   Brand Name:  AD LIC   Category:  Insurance
TxnId:  M30584084   Brand Name:  AD LIC   Category:  Insurance
TxnId:  M48032797   Brand Name:  AD LIC   Category:  Insurance
TxnId:  M60543195   Brand Name:  AD LIC   Category:  Insurance
TxnId:  M70090604   Brand Name:  AD LIC   Category:  Insurance
TxnId:  M78321129   Brand Name:  AD LIC   Category:  Insurance
Matched brands:  6
The total transactions under  BIL :  29
Doing for:  BIL
Not found:  001876585007statebank
TxnId:  M11489266   Brand Name:  BSE ISIP   Category:  Investment
TxnId:  M11818487   Brand Name:  BSE ISIP   Category:  Investment
Not found:  001889918950motilalos
Not found:  001892335260
Not found:  001894593460
Not found:  001910188793iciciccpmt
Not found:  001910495836statebank
TxnId:  M29267200   Brand Name:  BSE ISIP   Category:  Investment
Not found:  001915367034motilalos
TxnId:  M30254863   Brand Name:  BSE ISIP   Category:  Investment
Not found:  001916614369dishinfra
Not found:  001916723481bhartiair
TxnId:  M36180841   Brand Name:  NPS Trust   Category:  Investment
TxnId:  M45069808   Brand Name:  BSE ISIP   Category:  Investment
Not found:  001939911220motilalos
Not found:  001940171101iciciccpmt
Not found:  001940175419
TxnId:  M50008123   Brand Name:  BSE ISIP   Category:  Investment
Not found:  001951605503statebank
TxnId:  M59226311   Brand Name:  BSE ISIP   Category:  Investment
Not found:  001962608700motilalos
TxnId:  M59884753   Brand Name:  BSE ISIP   Category:  Investment
Not found:  001963344975easytrip
Not found:  001973684380statebank
TxnId:  M69761383   Brand Name:  BSE ISIP   Category:  Investment
Not found:  icicibankcreditca524193208676
Not found:  icicibankcreditca431581009199
TxnId:  M77991908   Brand Name:  BSE ISIP   Category:  Investment
Matched brands:  11
The total transactions under  NFS :  8
Doing for:  NFS
TxnId:  M11160045   Brand Name:  Cash Withdrawal (cashwdl)   Category:  Cash Withdrawal
TxnId:  M23341222   Brand Name:  Cash Withdrawal (cashwdl)   Category:  Cash Withdrawal
TxnId:  M26962653   Brand Name:  Cash Withdrawal (cashwdl)   Category:  Cash Withdrawal
TxnId:  M29596421   Brand Name:  Cash Withdrawal (cashwdl)   Category:  Cash Withdrawal
TxnId:  M35522399   Brand Name:  Cash Withdrawal (cashwdl)   Category:  Cash Withdrawal
TxnId:  M39802272   Brand Name:  Cash Withdrawal (cashwdl)   Category:  Cash Withdrawal
TxnId:  M44082145   Brand Name:  Cash Withdrawal (cashwdl)   Category:  Cash Withdrawal
TxnId:  M56263322   Brand Name:  Cash Withdrawal (cashwdl)   Category:  Cash Withdrawal
Matched brands:  8
The total transactions under  OTHER :  16
Doing for:  OTHER
Not found:  000501523329:int.pd:30-09-2019to30-12-2019
TxnId:  M16427581   Brand Name:  SAL FINTECH PRODUCTS and SOLUTIONS   Category:  Investment
TxnId:  M31571747   Brand Name:  SAL FINTECH PRODUCTS and SOLUTIONS   Category:  Investment

TxnId:  M44411366   Brand Name:  SAL FINTECH PRODUCTS and SOLUTIONS   Category:  Investment
TxnId:  M51654228   Brand Name:  Principal Mutual Fund   Category:  Investment
TxnId:  M51983449   Brand Name:  Motilal Oswal    Category:  Investment
TxnId:  M52641891   Brand Name:  Principal Mutual Fund   Category:  Investment
TxnId:  M52971112   Brand Name:  MTL OSWL   Category:  Investment
TxnId:  M53300333   Brand Name:  SAL FINTECH PRODUCTS and SOLUTIONS   Category:  Investment
Not found:  000501523329:int.pd:31-12-2019to29-03-2020
TxnId:  M61530858   Brand Name:  SAL FINTECH PRODUCTS and SOLUTIONS   Category:  Investment
TxnId:  M68773720   Brand Name:  SAL FINTECH PRODUCTS and SOLUTIONS   Category:  Investment
TxnId:  M73712035   Brand Name:  PMSBY   Category:  Insurance
TxnId:  M77333466   Brand Name:  SAL FINTECH PRODUCTS and SOLUTIONS   Category:  Investment
TxnId:  M78979571   Brand Name:  Principal Mutual Fund   Category:  Investment
TxnId:  M79308792   Brand Name:  Motilal Oswal    Category:  Investment
Matched brands:  15

In [99]:
output_df

,txnId,mode,amount,balance,type,valueDate,brand,category
0,M3258741,UPI,1239.00,62289.25,DEBIT,2019-12-19,Simple Pay,Bills
1,M3917183,UPI,16.00,62073.25,DEBIT,2019-12-20,Amazon (AMZN),Shopping
2,M4246404,UPI,1432.00,60641.25,DEBIT,2019-12-21,Ola,Travel
3,M5563288,OTHERS,710.50,45595.49,DEBIT,2019-12-21,BBBP Bengal,Other
4,M5892509,CARD,4101.00,41494.49,DEBIT,2019-12-22,Unknown,Other
5,M6221730,OTHERS,200.00,41294.49,DEBIT,2019-12-22,Unknown,Other
6,M6550951,ATM,10000.00,31294.49,DEBIT,2019-12-25,Cash Withdrawal (cashwdl),Cash Withdrawal
7,M6880172,FT,2138.00,29156.49,DEBIT,2019-12-30,TP Kotak Life Insurance,Insurance
8,M7209393,FT,330.00,28826.49,DEBIT,2019-12-30,Swiggy,Foods and Drinks
9,M7867835,OTHERS,518.00,27228.49,CREDIT,2019-12-30,Unknown,Other
10,M8526277,FT,2097.44,24769.05,DEBIT,2020-01-01,IRCTC,Travel
11,M9513940,FT,2024.55,22576.50,DEBIT,2020-01-03,TP ExideLife Insurance,Insurance
12,M10501603,CARD,1297.00,21193.50,DEBIT,2020-01-05,Swathi Hospital,Health
13,M11160045,CASH,5000.00,16176.50,DEBIT,2020-01-05,Cash Withdrawal (cashwdl),Cash Withdrawal
14,M11489266,FT,5000.00,11176.50,DEBIT,2020-01-06,BSE ISIP,Investment
15,M11818487,FT,5000.00,6176.50,DEBIT,2020-01-07,BSE ISIP,Investment
16,M12147708,FT,5000.00,1176.50,DEBIT,2020-01-07,Unknown,Other
17,M12806150,FT,3062.00,3114.50,DEBIT,2020-01-07,AD LIC,Insurance
18,M14452255,FT,464.00,31916.50,DEBIT,2020-01-09,Dish TV India (Dish Infra),Bills
19,M14781476,FT,50000.00,81916.50,CREDIT,2020-01-09,Unknown,Other
20,M15110697,FT,30000.00,51916.50,DEBIT,2020-01-10,HDFCLTD,Loan (EMI)
21,M15439918,CARD,935.18,50981.32,DEBIT,2020-01-10,Airplaza Retail,Other
22,M15769139,CARD,540.00,50441.32,DEBIT,2020-01-11,Sai Sarvana,Foods and Drinks
23,M16098360,UPI,50.00,50391.32,DEBIT,2020-01-12,UIDAI,Other
24,M16427581,FT,150000.00,200391.32,CREDIT,2020-01-12,SAL FINTECH PRODUCTS and SOLUTIONS,Investment
25,M16756802,FT,50000.00,150391.32,DEBIT,2020-01-12,Unknown,Other
26,M17086023,FT,12000.00,138391.32,DEBIT,2020-01-12,EMI,Loan (EMI)
27,M17415244,FT,12600.00,125791.32,DEBIT,2020-01-12,Rent,Rent
28,M18073686,FT,24827.00,98564.32,DEBIT,2020-01-12,HDFC CC PMT (HDFC Credit Card Payment),Credit Card
29,M19390570,ATM,10000.00,86051.82,DEBIT,2020-01-12,Cash Withdrawal (cashwdl),Cash Withdrawal
30,M20049012,UPI,1000.00,84991.82,DEBIT,2020-01-15,Easebuzz,Other
31,M20707454,CARD,280.00,84691.82,DEBIT,2020-01-17,Sri Manjuna,Other
32,M21365896,FT,881.06,83760.76,DEBIT,2020-01-18,Bigtree,Other
33,M23341222,CASH,5000.00,66926.76,DEBIT,2020-01-24,Cash Withdrawal (cashwdl),Cash Withdrawal
34,M24328885,UPI,3041.91,63394.85,DEBIT,2020-01-26,Big Bazaar,Groceries
35,M24658106,UPI,203.00,63191.85,DEBIT,2020-01-28,Fresh Menu,Foods and Drinks
36,M24987327,FT,2138.00,61053.85,DEBIT,2020-01-30,TP Kotak Life Insurance,Insurance
37,M25645769,CARD,300.00,60728.85,DEBIT,2020-01-31,EMI,Loan (EMI)
38,M26304211,UPI,20.00,59728.85,DEBIT,2020-02-01,Bharat Petroleum,Fuel
39,M26962653,CASH,5000.00,54568.85,DEBIT,2020-02-02,Cash Withdrawal (cashwdl),Cash Withdrawal
40,M27291874,FT,5266.26,49302.59,DEBIT,2020-02-02,Unknown,Other
41,M27621095,CARD,833.00,48469.59,DEBIT,2020-02-03,Unknown,Other
42,M28279537,FT,2024.55,46295.04,DEBIT,2020-02-03,TP ExideLife Insurance,Insurance
43,M28937979,CARD,399.00,45898.29,DEBIT,2020-02-05,Swathi Hospital,Health
44,M29267200,FT,5000.00,40898.29,DEBIT,2020-02-05,BSE ISIP,Investment
45,M29596421,CASH,10000.00,30898.29,DEBIT,2020-02-07,Cash Withdrawal (cashwdl),Cash Withdrawal
46,M29925642,FT,5000.00,25898.29,DEBIT,2020-02-07,Unknown,Other
47,M30254863,FT,5000.00,20898.29,DEBIT,2020-02-07,BSE ISIP,Investment
48,M30584084,FT,3062.00,17836.29,DEBIT,2020-02-08,AD LIC,Insurance
49,M30913305,FT,464.00,17372.29,DEBIT,2020-02-08,Unknown,Other
50,M31242526,FT,100.00,17272.29,DEBIT,2020-02-08,Unknown,Other
51,M31571747,FT,150000.00,167272.29,CREDIT,2020-02-08,SAL FINTECH PRODUCTS and SOLUTIONS,Investment
52,M31900968,FT,12000.00,155272.29,DEBIT,2020-02-08,EMI,Loan (EMI)
53,M32230189,FT,15000.00,140272.29,DEBIT,2020-02-08,Rent,Rent
54,M32559410,FT,9095.00,131177.29,DEBIT,2020-02-08,HDFC CC PMT (HDFC Credit Card Payment),Credit Card
55,M34205515,CARD,2656.00,121058.29,DEBIT,2020-02-10,UTH Fashion,Shopping
56,M34534736,FT,30000.00,91058.29,DEBIT,2020-02-10,HDFCLTD,Loan (EMI)
57,M35193178,CARD,2187.00,87500.29,DEBIT,2020-02-13,Levitate Brewery Bangalore,Foods and Drinks
58,M35522399,CASH,300.00,87200.29,DEBIT,2020-02-14,Cash Withdrawal (cashwdl),Cash Withdrawal
59,M36180841,FT,20000.71,67005.58,DEBIT,2020-02-16,NPS Trust,Investment
60,M39143830,CARD,165.00,64574.58,DEBIT,2020-02-21,Mariya Mart,Groceries
61,M39802272,CASH,10000.00,53509.58,DEBIT,2020-02-22,Cash Withdrawal (cashwdl),Cash Withdrawal
62,M40131493,UPI,928.55,52581.03,DEBIT,2020-02-22,Zomato,Foods and Drinks
63,M40789935,FT,496.00,52090.03,DEBIT,2020-02-27,Ola,Travel
64,M41119156,CARD,170.00,51920.03,DEBIT,2020-02-28,Rolls on Wheel,Foods and Drinks
65,M41777598,FT,2138.00,49712.03,DEBIT,2020-02-29,TP Kotak Life Insurance,Insurance
66,M43423703,FT,2024.55,46947.48,DEBIT,2020-03-03,TP ExideLife Insurance,Insurance
67,M44082145,CARD,10000.00,36797.48,DEBIT,2020-03-04,Cash Withdrawal (cashwdl),Cash Withdrawal
68,M44411366,FT,100000.00,136797.48,CREDIT,2020-03-04,SAL FINTECH PRODUCTS and SOLUTIONS,Investment
69,M45069808,FT,5000.00,131235.48,DEBIT,2020-03-07,BSE ISIP,Investment
70,M45399029,FT,5000.00,126235.48,DEBIT,2020-03-07,Unknown,Other
71,M45728250,FT,3561.26,122674.22,DEBIT,2020-03-07,Unknown,Other
72,M46057471,FT,15000.00,107674.22,DEBIT,2020-03-07,Rent,Rent
73,M46386692,FT,12000.00,95674.22,DEBIT,2020-03-07,EMI,Loan (EMI)
74,M46715913,FT,17000.00,78674.22,DEBIT,2020-03-07,Unknown,Other
75,M47045134,FT,8559.00,70115.22,DEBIT,2020-03-07,HDFC CC PMT (HDFC Credit Card Payment),Credit Card
76,M47374355,FT,50000.00,120115.22,CREDIT,2020-03-07,Transfer,Transfer
77,M47703576,FT,6336.00,113779.22,DEBIT,2020-03-07,Ease My Trip (EasyTrip),Travel
78,M48032797,OTHERS,3062.00,110717.22,DEBIT,2020-03-07,AD LIC,Insurance
79,M48362018,FT,442.00,110275.22,DEBIT,2020-03-07,Dish TV India (Dish Infra),Bills
80,M49678902,FT,7534.00,99586.12,DEBIT,2020-03-10,Ease My Trip (EasyTrip),Travel
81,M50008123,FT,5000.00,94586.12,DEBIT,2020-03-11,BSE ISIP,Investment
82,M50337344,FT,30000.00,64586.12,DEBIT,2020-03-14,HDFCLTD,Loan (EMI)
83,M50995786,UPI,600.00,63846.12,DEBIT,2020-03-16,Dentist Clinic,Health
84,M51325007,ATM,10000.00,53846.12,DEBIT,2020-03-16,Cash Withdrawal (cashwdl),Cash Withdrawal
85,M51654228,FT,39104.24,92950.36,CREDIT,2020-03-18,Principal Mutual Fund,Investment
86,M51983449,FT,33070.22,126020.58,CREDIT,2020-03-19,Motilal Oswal,Investment
87,M52641891,FT,62438.37,187942.95,CREDIT,2020-03-19,Principal Mutual Fund,Investment
88,M52971112,FT,106982.95,294925.90,CREDIT,2020-03-19,MTL OSWL,Investment
89,M53300333,FT,150000.00,144925.90,DEBIT,2020-03-21,SAL FINTECH PRODUCTS and SOLUTIONS,Investment
90,M54946438,FT,1574.00,92291.82,DEBIT,2020-03-25,Unknown,Other
91,M56263322,CASH,10000.00,81601.46,DEBIT,2020-03-29,Cash Withdrawal (cashwdl),Cash Withdrawal
92,M56921764,OTHERS,594.00,80996.46,CREDIT,2020-03-30,Unknown,Other
93,M57250985,FT,2138.00,78858.46,DEBIT,2020-03-30,TP Kotak Life Insurance,Insurance
94,M57580206,CARD,1575.00,77283.46,DEBIT,2020-04-02,Mariya Mart,Groceries
95,M58238648,FT,503.00,76600.46,DEBIT,2020-04-07,Dish TV India (Dish Infra),Bills
96,M58897090,FT,2024.55,74425.91,DEBIT,2020-04-07,TP ExideLife Insurance,Insurance
97,M59226311,FT,5000.00,69425.91,DEBIT,2020-04-07,BSE ISIP,Investment
98,M59555532,FT,5000.00,64425.91,DEBIT,2020-04-07,Unknown,Other
99,M59884753,FT,5000.00,59425.91,DEBIT,2020-04-08,BSE ISIP,Investment
100,M60543195,OTHERS,3062.00,56450.47,DEBIT,2020-04-08,AD LIC,Insurance
101,M60872416,FT,974.00,55476.47,DEBIT,2020-04-08,Unknown,Other
102,M61201637,FT,15408.00,40068.47,DEBIT,2020-04-08,Credit Card,Credit Card
103,M61530858,FT,100000.00,140068.47,CREDIT,2020-04-09,SAL FINTECH PRODUCTS and SOLUTIONS,Investment
104,M61860079,FT,15000.00,125068.47,DEBIT,2020-04-09,Rent,Rent
105,M62189300,FT,12000.00,115068.47,DEBIT,2020-04-09,EMI,Loan (EMI)
106,M64164626,FT,30000.00,69343.47,DEBIT,2020-04-25,HDFCLTD,Loan (EMI)
107,M66469173,FT,3294.00,64190.97,DEBIT,2020-05-02,Unknown,Other
108,M67127615,FT,2138.00,61962.97,DEBIT,2020-05-04,TP Kotak Life Insurance,Insurance
109,M68444499,FT,2024.55,59243.42,DEBIT,2020-05-06,TP ExideLife Insurance,Insurance
110,M68773720,FT,150000.00,159243.42,CREDIT,2020-05-07,SAL FINTECH PRODUCTS and SOLUTIONS,Investment
111,M69761383,FT,5000.00,147857.42,DEBIT,2020-05-09,BSE ISIP,Investment
112,M70090604,OTHERS,3062.00,144795.42,DEBIT,2020-05-09,AD LIC,Insurance
113,M70419825,FT,12000.00,135795.42,DEBIT,2020-05-09,Unknown,Other
114,M70749046,FT,9000.00,131053.42,DEBIT,2020-05-10,Unknown,Other
115,M71078267,FT,4742.00,115657.42,DEBIT,2020-05-11,HDFC CC PMT (HDFC Credit Card Payment),Credit Card
116,M71407488,FT,15000.00,100657.42,DEBIT,2020-05-15,Rent,Rent
117,M72065930,FT,30000.00,70600.42,DEBIT,2020-05-19,HDFCLTD,Loan (EMI)
118,M73712035,OTHERS,12.00,68415.42,DEBIT,2020-05-24,PMSBY,Insurance
119,M74041256,FT,4058.00,64357.42,DEBIT,2020-05-25,Unknown,Other
120,M75358140,FT,2138.00,61125.42,DEBIT,2020-06-03,TP Kotak Life Insurance,Insurance
121,M76675024,FT,2024.55,50851.87,DEBIT,2020-06-04,TP ExideLife Insurance,Insurance
122,M77333466,FT,100000.00,141851.87,CREDIT,2020-06-08,SAL FINTECH PRODUCTS and SOLUTIONS,Investment
123,M77991908,FT,3000.00,133851.87,DEBIT,2020-06-11,BSE ISIP,Investment
124,M78321129,OTHERS,3062.00,130789.87,DEBIT,2020-06-11,AD LIC,Insurance
125,M78650350,FT,30000.00,100789.87,DEBIT,2020-06-11,HDFCLTD,Loan (EMI)
126,M78979571,FT,16037.22,116827.09,CREDIT,2020-06-13,Principal Mutual Fund,Investment
127,M79308792,FT,15691.88,132518.97,CREDIT,2020-06-16,Motilal Oswal,Investment

In [54]:
output_df['valueDate'] = pd.to_datetime(output_df['valueDate'], format='%Y-%m-%d')

In [55]:
print(output_df['valueDate'])

0     2019-12-19
1     2019-12-20
2     2019-12-21
3     2019-12-21
4     2019-12-22
5     2019-12-22
6     2019-12-25
7     2019-12-30
8     2019-12-30
9     2019-12-30
10    2020-01-01
11    2020-01-03
12    2020-01-05
13    2020-01-05
14    2020-01-06
15    2020-01-07
16    2020-01-07
17    2020-01-07
18    2020-01-09
19    2020-01-09
20    2020-01-10
21    2020-01-10
22    2020-01-11
23    2020-01-12
24    2020-01-12
25    2020-01-12
26    2020-01-12
27    2020-01-12
28    2020-01-12
29    2020-01-12
30    2020-01-15
31    2020-01-17
32    2020-01-18
33    2020-01-24
34    2020-01-26
35    2020-01-28
36    2020-01-30
37    2020-01-31
38    2020-02-01
39    2020-02-02
40    2020-02-02
41    2020-02-03
42    2020-02-03
43    2020-02-05
44    2020-02-05
45    2020-02-07
46    2020-02-07
47    2020-02-07
48    2020-02-08
49    2020-02-08
50    2020-02-08
51    2020-02-08
52    2020-02-08
53    2020-02-08
54    2020-02-08
55    2020-02-10
56    2020-02-10
57    2020-02-13
58    2020-02-14
59    2020-02-16
60    2020-02-21
61    2020-02-22
62    2020-02-22
63    2020-02-27
64    2020-02-28
65    2020-02-29
66    2020-03-03
67    2020-03-04
68    2020-03-04
69    2020-03-07
70    2020-03-07
71    2020-03-07
72    2020-03-07
73    2020-03-07
74    2020-03-07
75    2020-03-07
76    2020-03-07
77    2020-03-07
78    2020-03-07
79    2020-03-07
80    2020-03-10
81    2020-03-11
82    2020-03-14
83    2020-03-16
84    2020-03-16
85    2020-03-18
86    2020-03-19
87    2020-03-19
88    2020-03-19
89    2020-03-21
90    2020-03-25
91    2020-03-29
92    2020-03-30
93    2020-03-30
94    2020-04-02
95    2020-04-07
96    2020-04-07
97    2020-04-07
98    2020-04-07
99    2020-04-08
100   2020-04-08
101   2020-04-08
102   2020-04-08
103   2020-04-09
104   2020-04-09
105   2020-04-09
106   2020-04-25
107   2020-05-02
108   2020-05-04
109   2020-05-06
110   2020-05-07
111   2020-05-09
112   2020-05-09
113   2020-05-09
114   2020-05-10
115   2020-05-11
116   2020-05-15
117   2020-05-19
118   2020-05-24
119   2020-05-25
120   2020-06-03
121   2020-06-04
122   2020-06-08
123   2020-06-11
124   2020-06-11
125   2020-06-11
126   2020-06-13
127   2020-06-16
Name: valueDate, dtype: datetime64[ns]

In [56]:
#Defining dictionary for identifying days
days_dict = {0: "Monday", 1: "Tuesday", 2: "Wednesday", 3: "Thurday", 4:"Friday", 5: "Saturday", 6: "Sunday"}
months_dict = {1: "January", 2: "February", 3: "March", 4: "April", 5:"May", 6: "June", 7: "July", 8: "August", 9: "September", 10: "October", 11: "November", 12: "December"}

In [57]:
months_dict[output_df.at[50,'valueDate'].month]

'February'

In [58]:
month_wise_exp = pd.DataFrame({"Month":[months_dict[i] for i in months_dict.keys()],"Total_Expense":0, "Total_Income":0})

In [59]:
month_wise_exp

        Month  Total_Expense  Total_Income
0     January              0             0
1    February              0             0
2       March              0             0
3       April              0             0
4         May              0             0
5        June              0             0
6        July              0             0
7      August              0             0
8   September              0             0
9     October              0             0
10   November              0             0
11   December              0             0

In [62]:
def get_monthly_exp(df, month_wise_exp):
    df = df.copy()
    month_wise_exp = month_wise_exp.copy()
    for index_1, row_1 in df.iterrows():
            date = row_1['valueDate']
            type_trans = row_1['type']
            amnt = row_1["amount"]
            m = date.month
            m = months_dict[m]
            for index_2, row_2 in month_wise_exp.iterrows():
                mon = row_2['Month']
                if mon == m:
                    ind = month_wise_exp.index[month_wise_exp['Month']==mon].tolist()
                    if type_trans == "DEBIT":
                        month_wise_exp.at[ind[0], "Total_Expense"] += amnt  
                    #if type_trans == "CREDIT":
                     #   month_wise_exp.at[ind[0], "Total_Income"] += amnt  
                    continue
    return month_wise_exp

In [63]:
month_wise_exp = get_monthly_exp(output_df, month_wise_exp)

In [64]:
month_wise_exp

        Month  Total_Expense  Total_Income
0     January         182739             0
1    February         147303             0
2       March         304830             0
3       April          95546             0
4         May          90330             0
5        June          40224             0
6        July              0             0
7      August              0             0
8   September              0             0
9     October              0             0
10   November              0             0
11   December          20166             0

In [65]:
opening_closing = pd.DataFrame({"Month":[months_dict[i] for i in months_dict.keys()], "Opening_Balance":0, "Closing_Balance":0})

In [66]:
opening_closing

        Month  Opening_Balance  Closing_Balance
0     January                0                0
1    February                0                0
2       March                0                0
3       April                0                0
4         May                0                0
5        June                0                0
6        July                0                0
7      August                0                0
8   September                0                0
9     October                0                0
10   November                0                0
11   December                0                0

In [71]:
def get_opening_closing(df, opening_closing):
    df = df.copy()
    opening_closing = opening_closing.copy()
    for index_1, row_1 in opening_closing.iterrows():
                mon = row_1['Month']
                for index_2, row_2 in df.iterrows():
                    date = row_2['valueDate']
                    type_trans = row_2['type']
                    bal = row_2["balance"]
                    amnt = row_2["amount"]
                    m = date.month
                    m = months_dict[m]
                    if m == mon:
                        ind = opening_closing.index[opening_closing['Month']==mon].tolist()
                        if type_trans == "DEBIT":
                            opening_closing.at[ind[0], "Opening_Balance"] = bal + amnt
                        else:
                            opening_closing.at[ind[0], "Opening_Balance"] = bal - amnt
                        break
    
    for index_1, row_1 in opening_closing.iterrows():
        mon = row_1['Month']
        opening = row_1['Opening_Balance']
        ind = opening_closing.index[opening_closing['Month']==mon].tolist()
        #print (ind)
        if ind[0] == 0:
                opening_closing.at[11, "Closing_Balance"] = opening
        else:
            opening_closing.at[ind[0]-1, "Closing_Balance"] = opening
    return opening_closing

In [72]:
opening_closing = get_opening_closing(output_df, opening_closing)
opening_closing

        Month  Opening_Balance  Closing_Balance
0     January            26866            59748
1    February            59748            48972
2       March            48972            78858
3       April            78858            67484
4         May            67484            63263
5        June            63263                0
6        July                0                0
7      August                0                0
8   September                0                0
9     October                0                0
10   November                0            63528
11   December            63528            26866

In [73]:
category_list = brand_df["Category"].unique()
category_list.sort()
type(category_list)

numpy.ndarray

In [74]:
category_wise_exp = pd.DataFrame({"Category": category_list, "Total_Expense":0})
category_wise_exp

            Category  Total_Expense
0              Bills              0
1    Cash Withdrawal              0
2            Courier              0
3        Credit Card              0
4      Entertainment              0
5   Foods and Drinks              0
6               Fuel              0
7          Groceries              0
8             Health              0
9          Insurance              0
10        Investment              0
11        Loan (EMI)              0
12             Other              0
13     Personal Care              0
14              Rent              0
15          Shopping              0
16          Transfer              0
17            Travel              0

In [77]:
def get_category_exp(df, category_wise_exp):
    df = df.copy()
    category_wise_exp = category_wise_exp.copy()
    for index_1, row_1 in df.iterrows():
            cat = row_1['category']
            type_trans = row_1['type']
            amnt = row_1["amount"]
            for index_2, row_2 in category_wise_exp.iterrows():
                c = row_2['Category']
                if cat == c:
                    ind = category_wise_exp.index[category_wise_exp['Category']==cat].tolist()
                    if type_trans == "DEBIT":
                        category_wise_exp.at[ind[0], "Total_Expense"] += amnt 
                    break
    return category_wise_exp

In [78]:
category_wise_exp = get_category_exp(output_df, category_wise_exp)
category_wise_exp

            Category  Total_Expense
0              Bills           2648
1    Cash Withdrawal          85300
2            Courier              0
3        Credit Card          62631
4      Entertainment              0
5   Foods and Drinks           4358
6               Fuel             20
7          Groceries           4781
8             Health           2296
9          Insurance          43356
10        Investment         218000
11        Loan (EMI)         228300
12             Other         136281
13     Personal Care              0
14              Rent          72600
15          Shopping           2672
16          Transfer              0
17            Travel          17895

In [79]:
def Convert(lst): 
    li = list(months_dict.values())
    res_dct = {"Month": li} 
    res_dct.update({lst[i]: [0]*12  for i in range(0, len(lst))})
    res_dct.update({'Total_Expense' : [0]*12})
    return res_dct
res_dict = Convert(category_list)
res_dict

{'Month': ['January',
  'February',
  'March',
  'April',
  'May',
  'June',
  'July',
  'August',
  'September',
  'October',
  'November',
  'December'],
 'Bills': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'Cash Withdrawal': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'Courier': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'Credit Card': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'Entertainment': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'Foods and Drinks': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'Fuel': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'Groceries': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'Health': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'Insurance': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'Investment': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'Loan (EMI)': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'Other': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'Personal Care': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'Rent': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'Shopping': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'Transfer': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'Travel': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'Total_Expense': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}

In [80]:
category_month_wise_exp = pd.DataFrame(res_dict)
category_month_wise_exp

,Month,Bills,Cash Withdrawal,Courier,Credit Card,Entertainment,Foods and Drinks,Fuel,Groceries,Health,Insurance,Investment,Loan (EMI),Other,Personal Care,Rent,Shopping,Transfer,Travel,Total_Expense
0,January,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,February,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,March,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,April,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,May,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,June,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,July,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,August,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,September,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,October,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,November,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11,December,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [83]:
def get_month_wise_category(df, category_month_wise_exp):
    df = df.copy()
    category_month_wise_exp = category_month_wise_exp.copy()
    for index_1, row_1 in df.iterrows():
            date = row_1['valueDate']
            mon_no = date.month
            type_trans = row_1['type']
            mon = months_dict[mon_no]
            amnt = row_1["amount"]
            category = row_1["category"]
            for index_2, row_2 in category_month_wise_exp.iterrows():
                m = row_2['Month']
                if mon == m:
                    ind = category_month_wise_exp.index[category_month_wise_exp['Month']==mon].tolist()
                    if type_trans == "DEBIT":
                        category_month_wise_exp.at[ind[0],category ] += amnt 
    return category_month_wise_exp

In [84]:
category_month_wise_exp = get_month_wise_category(output_df, category_month_wise_exp)
category_month_wise_exp["Total_Expense"] = month_wise_exp["Total_Expense"]
category_month_wise_exp

,Month,Bills,Cash Withdrawal,Courier,Credit Card,Entertainment,Foods and Drinks,Fuel,Groceries,Health,Insurance,Investment,Loan (EMI),Other,Personal Care,Rent,Shopping,Transfer,Travel,Total_Expense
0,January,464,20000,0,24827,0,743,0,3041,1297,7224,10000,42300,58146,0,12600,0,0,2097,182739
1,February,0,25300,0,9095,0,3285,20,165,399,7224,30000,42000,11663,0,15000,2656,0,496,147303
2,March,442,30000,0,8559,0,0,0,0,600,7224,160000,42000,27135,0,15000,0,0,13870,304830
3,April,503,0,0,15408,0,0,0,1575,0,5086,10000,42000,5974,0,15000,0,0,0,95546
4,May,0,0,0,4742,0,0,0,0,0,7236,5000,30000,28352,0,15000,0,0,0,90330
5,June,0,0,0,0,0,0,0,0,0,7224,3000,30000,0,0,0,0,0,0,40224
6,July,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,August,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,September,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,October,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,November,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11,December,1239,10000,0,0,0,330,0,0,0,2138,0,0,5011,0,0,16,0,1432,20166

In [85]:
def get_current_balance(df):
    df = df.copy()
    '''
    y = datetime.now().year
    m = datetime.now().month
    d = datetime.now().day
    '''
    y = 2020
    m = 6
    d = 22
    dif = 31
    act_date = d
    for index_1, row_1 in df.iterrows():
        date = row_1['valueDate']
        year = date.year
        mon = date.month
        day = date.day
        if year == y and mon == m:
            #print (day)
            dif_cur = abs(d - day)
            dif = min(dif, dif_cur)
    #print(dif)
    act_date = d - dif
    for index_1, row_1 in df.iterrows():
        bal = row_1['balance']
        date = row_1['valueDate']
        year = date.year
        mon = date.month
        day = date.day
        #print (d)
        if year == y and mon == m and act_date == day:
            #print (d)
            return round(bal,0)

In [86]:
current_balance = get_current_balance(output_df)
current_balance

132519.0

In [87]:
def get_month_wise_transaction(df, month):
    df = df.copy()
    df["month"] = ""
    for index_1, row_1 in df.iterrows():
        date = row_1['valueDate']
        txnId = row_1['txnId']
        mon_no = date.month
        mon = months_dict[mon_no]
        ind = df.index[df['txnId']==txnId].tolist()
        df.at[ind[0],"month"] = mon 
    df = df[df['month'] == month] 
    return df

In [88]:
month_wise_transaction = get_month_wise_transaction(output_df, "June")
month_wise_transaction

,txnId,mode,amount,balance,type,valueDate,brand,category,month
120,M75358140,FT,2138.00,61125.42,DEBIT,2020-06-03,TP Kotak Life Insurance,Insurance,June
121,M76675024,FT,2024.55,50851.87,DEBIT,2020-06-04,TP ExideLife Insurance,Insurance,June
122,M77333466,FT,100000.00,141851.87,CREDIT,2020-06-08,SAL FINTECH PRODUCTS and SOLUTIONS,Investment,June
123,M77991908,FT,3000.00,133851.87,DEBIT,2020-06-11,BSE ISIP,Investment,June
124,M78321129,OTHERS,3062.00,130789.87,DEBIT,2020-06-11,AD LIC,Insurance,June
125,M78650350,FT,30000.00,100789.87,DEBIT,2020-06-11,HDFCLTD,Loan (EMI),June
126,M78979571,FT,16037.22,116827.09,CREDIT,2020-06-13,Principal Mutual Fund,Investment,June
127,M79308792,FT,15691.88,132518.97,CREDIT,2020-06-16,Motilal Oswal,Investment,June

In [89]:
def get_category_wise_transaction(df, category):
    df = df.copy()
    df = df[df['category']==category]
    return df

In [93]:
category_wise_transaction = get_category_wise_transaction(output_df,"Insurance")
category_wise_transaction

,txnId,mode,amount,balance,type,valueDate,brand,category
7,M6880172,FT,2138.00,29156.49,DEBIT,2019-12-30,TP Kotak Life Insurance,Insurance
11,M9513940,FT,2024.55,22576.50,DEBIT,2020-01-03,TP ExideLife Insurance,Insurance
17,M12806150,FT,3062.00,3114.50,DEBIT,2020-01-07,AD LIC,Insurance
36,M24987327,FT,2138.00,61053.85,DEBIT,2020-01-30,TP Kotak Life Insurance,Insurance
42,M28279537,FT,2024.55,46295.04,DEBIT,2020-02-03,TP ExideLife Insurance,Insurance
48,M30584084,FT,3062.00,17836.29,DEBIT,2020-02-08,AD LIC,Insurance
65,M41777598,FT,2138.00,49712.03,DEBIT,2020-02-29,TP Kotak Life Insurance,Insurance
66,M43423703,FT,2024.55,46947.48,DEBIT,2020-03-03,TP ExideLife Insurance,Insurance
78,M48032797,OTHERS,3062.00,110717.22,DEBIT,2020-03-07,AD LIC,Insurance
93,M57250985,FT,2138.00,78858.46,DEBIT,2020-03-30,TP Kotak Life Insurance,Insurance
96,M58897090,FT,2024.55,74425.91,DEBIT,2020-04-07,TP ExideLife Insurance,Insurance
100,M60543195,OTHERS,3062.00,56450.47,DEBIT,2020-04-08,AD LIC,Insurance
108,M67127615,FT,2138.00,61962.97,DEBIT,2020-05-04,TP Kotak Life Insurance,Insurance
109,M68444499,FT,2024.55,59243.42,DEBIT,2020-05-06,TP ExideLife Insurance,Insurance
112,M70090604,OTHERS,3062.00,144795.42,DEBIT,2020-05-09,AD LIC,Insurance
118,M73712035,OTHERS,12.00,68415.42,DEBIT,2020-05-24,PMSBY,Insurance
120,M75358140,FT,2138.00,61125.42,DEBIT,2020-06-03,TP Kotak Life Insurance,Insurance
121,M76675024,FT,2024.55,50851.87,DEBIT,2020-06-04,TP ExideLife Insurance,Insurance
124,M78321129,OTHERS,3062.00,130789.87,DEBIT,2020-06-11,AD LIC,Insurance

In [91]:
output_df

,txnId,mode,amount,balance,type,valueDate,brand,category
0,M3258741,UPI,1239.00,62289.25,DEBIT,2019-12-19,Simple Pay,Bills
1,M3917183,UPI,16.00,62073.25,DEBIT,2019-12-20,Amazon (AMZN),Shopping
2,M4246404,UPI,1432.00,60641.25,DEBIT,2019-12-21,Ola,Travel
3,M5563288,OTHERS,710.50,45595.49,DEBIT,2019-12-21,BBBP Bengal,Other
4,M5892509,CARD,4101.00,41494.49,DEBIT,2019-12-22,Unknown,Other
5,M6221730,OTHERS,200.00,41294.49,DEBIT,2019-12-22,Unknown,Other
6,M6550951,ATM,10000.00,31294.49,DEBIT,2019-12-25,Cash Withdrawal (cashwdl),Cash Withdrawal
7,M6880172,FT,2138.00,29156.49,DEBIT,2019-12-30,TP Kotak Life Insurance,Insurance
8,M7209393,FT,330.00,28826.49,DEBIT,2019-12-30,Swiggy,Foods and Drinks
9,M7867835,OTHERS,518.00,27228.49,CREDIT,2019-12-30,Unknown,Other
10,M8526277,FT,2097.44,24769.05,DEBIT,2020-01-01,IRCTC,Travel
11,M9513940,FT,2024.55,22576.50,DEBIT,2020-01-03,TP ExideLife Insurance,Insurance
12,M10501603,CARD,1297.00,21193.50,DEBIT,2020-01-05,Swathi Hospital,Health
13,M11160045,CASH,5000.00,16176.50,DEBIT,2020-01-05,Cash Withdrawal (cashwdl),Cash Withdrawal
14,M11489266,FT,5000.00,11176.50,DEBIT,2020-01-06,BSE ISIP,Investment
15,M11818487,FT,5000.00,6176.50,DEBIT,2020-01-07,BSE ISIP,Investment
16,M12147708,FT,5000.00,1176.50,DEBIT,2020-01-07,Unknown,Other
17,M12806150,FT,3062.00,3114.50,DEBIT,2020-01-07,AD LIC,Insurance
18,M14452255,FT,464.00,31916.50,DEBIT,2020-01-09,Dish TV India (Dish Infra),Bills
19,M14781476,FT,50000.00,81916.50,CREDIT,2020-01-09,Unknown,Other
20,M15110697,FT,30000.00,51916.50,DEBIT,2020-01-10,HDFCLTD,Loan (EMI)
21,M15439918,CARD,935.18,50981.32,DEBIT,2020-01-10,Airplaza Retail,Other
22,M15769139,CARD,540.00,50441.32,DEBIT,2020-01-11,Sai Sarvana,Foods and Drinks
23,M16098360,UPI,50.00,50391.32,DEBIT,2020-01-12,UIDAI,Other
24,M16427581,FT,150000.00,200391.32,CREDIT,2020-01-12,SAL FINTECH PRODUCTS and SOLUTIONS,Investment
25,M16756802,FT,50000.00,150391.32,DEBIT,2020-01-12,Unknown,Other
26,M17086023,FT,12000.00,138391.32,DEBIT,2020-01-12,EMI,Loan (EMI)
27,M17415244,FT,12600.00,125791.32,DEBIT,2020-01-12,Rent,Rent
28,M18073686,FT,24827.00,98564.32,DEBIT,2020-01-12,HDFC CC PMT (HDFC Credit Card Payment),Credit Card
29,M19390570,ATM,10000.00,86051.82,DEBIT,2020-01-12,Cash Withdrawal (cashwdl),Cash Withdrawal
30,M20049012,UPI,1000.00,84991.82,DEBIT,2020-01-15,Easebuzz,Other
31,M20707454,CARD,280.00,84691.82,DEBIT,2020-01-17,Sri Manjuna,Other
32,M21365896,FT,881.06,83760.76,DEBIT,2020-01-18,Bigtree,Other
33,M23341222,CASH,5000.00,66926.76,DEBIT,2020-01-24,Cash Withdrawal (cashwdl),Cash Withdrawal
34,M24328885,UPI,3041.91,63394.85,DEBIT,2020-01-26,Big Bazaar,Groceries
35,M24658106,UPI,203.00,63191.85,DEBIT,2020-01-28,Fresh Menu,Foods and Drinks
36,M24987327,FT,2138.00,61053.85,DEBIT,2020-01-30,TP Kotak Life Insurance,Insurance
37,M25645769,CARD,300.00,60728.85,DEBIT,2020-01-31,EMI,Loan (EMI)
38,M26304211,UPI,20.00,59728.85,DEBIT,2020-02-01,Bharat Petroleum,Fuel
39,M26962653,CASH,5000.00,54568.85,DEBIT,2020-02-02,Cash Withdrawal (cashwdl),Cash Withdrawal
40,M27291874,FT,5266.26,49302.59,DEBIT,2020-02-02,Unknown,Other
41,M27621095,CARD,833.00,48469.59,DEBIT,2020-02-03,Unknown,Other
42,M28279537,FT,2024.55,46295.04,DEBIT,2020-02-03,TP ExideLife Insurance,Insurance
43,M28937979,CARD,399.00,45898.29,DEBIT,2020-02-05,Swathi Hospital,Health
44,M29267200,FT,5000.00,40898.29,DEBIT,2020-02-05,BSE ISIP,Investment
45,M29596421,CASH,10000.00,30898.29,DEBIT,2020-02-07,Cash Withdrawal (cashwdl),Cash Withdrawal
46,M29925642,FT,5000.00,25898.29,DEBIT,2020-02-07,Unknown,Other
47,M30254863,FT,5000.00,20898.29,DEBIT,2020-02-07,BSE ISIP,Investment
48,M30584084,FT,3062.00,17836.29,DEBIT,2020-02-08,AD LIC,Insurance
49,M30913305,FT,464.00,17372.29,DEBIT,2020-02-08,Unknown,Other
50,M31242526,FT,100.00,17272.29,DEBIT,2020-02-08,Unknown,Other
51,M31571747,FT,150000.00,167272.29,CREDIT,2020-02-08,SAL FINTECH PRODUCTS and SOLUTIONS,Investment
52,M31900968,FT,12000.00,155272.29,DEBIT,2020-02-08,EMI,Loan (EMI)
53,M32230189,FT,15000.00,140272.29,DEBIT,2020-02-08,Rent,Rent
54,M32559410,FT,9095.00,131177.29,DEBIT,2020-02-08,HDFC CC PMT (HDFC Credit Card Payment),Credit Card
55,M34205515,CARD,2656.00,121058.29,DEBIT,2020-02-10,UTH Fashion,Shopping
56,M34534736,FT,30000.00,91058.29,DEBIT,2020-02-10,HDFCLTD,Loan (EMI)
57,M35193178,CARD,2187.00,87500.29,DEBIT,2020-02-13,Levitate Brewery Bangalore,Foods and Drinks
58,M35522399,CASH,300.00,87200.29,DEBIT,2020-02-14,Cash Withdrawal (cashwdl),Cash Withdrawal
59,M36180841,FT,20000.71,67005.58,DEBIT,2020-02-16,NPS Trust,Investment
60,M39143830,CARD,165.00,64574.58,DEBIT,2020-02-21,Mariya Mart,Groceries
61,M39802272,CASH,10000.00,53509.58,DEBIT,2020-02-22,Cash Withdrawal (cashwdl),Cash Withdrawal
62,M40131493,UPI,928.55,52581.03,DEBIT,2020-02-22,Zomato,Foods and Drinks
63,M40789935,FT,496.00,52090.03,DEBIT,2020-02-27,Ola,Travel
64,M41119156,CARD,170.00,51920.03,DEBIT,2020-02-28,Rolls on Wheel,Foods and Drinks
65,M41777598,FT,2138.00,49712.03,DEBIT,2020-02-29,TP Kotak Life Insurance,Insurance
66,M43423703,FT,2024.55,46947.48,DEBIT,2020-03-03,TP ExideLife Insurance,Insurance
67,M44082145,CARD,10000.00,36797.48,DEBIT,2020-03-04,Cash Withdrawal (cashwdl),Cash Withdrawal
68,M44411366,FT,100000.00,136797.48,CREDIT,2020-03-04,SAL FINTECH PRODUCTS and SOLUTIONS,Investment
69,M45069808,FT,5000.00,131235.48,DEBIT,2020-03-07,BSE ISIP,Investment
70,M45399029,FT,5000.00,126235.48,DEBIT,2020-03-07,Unknown,Other
71,M45728250,FT,3561.26,122674.22,DEBIT,2020-03-07,Unknown,Other
72,M46057471,FT,15000.00,107674.22,DEBIT,2020-03-07,Rent,Rent
73,M46386692,FT,12000.00,95674.22,DEBIT,2020-03-07,EMI,Loan (EMI)
74,M46715913,FT,17000.00,78674.22,DEBIT,2020-03-07,Unknown,Other
75,M47045134,FT,8559.00,70115.22,DEBIT,2020-03-07,HDFC CC PMT (HDFC Credit Card Payment),Credit Card
76,M47374355,FT,50000.00,120115.22,CREDIT,2020-03-07,Transfer,Transfer
77,M47703576,FT,6336.00,113779.22,DEBIT,2020-03-07,Ease My Trip (EasyTrip),Travel
78,M48032797,OTHERS,3062.00,110717.22,DEBIT,2020-03-07,AD LIC,Insurance
79,M48362018,FT,442.00,110275.22,DEBIT,2020-03-07,Dish TV India (Dish Infra),Bills
80,M49678902,FT,7534.00,99586.12,DEBIT,2020-03-10,Ease My Trip (EasyTrip),Travel
81,M50008123,FT,5000.00,94586.12,DEBIT,2020-03-11,BSE ISIP,Investment
82,M50337344,FT,30000.00,64586.12,DEBIT,2020-03-14,HDFCLTD,Loan (EMI)
83,M50995786,UPI,600.00,63846.12,DEBIT,2020-03-16,Dentist Clinic,Health
84,M51325007,ATM,10000.00,53846.12,DEBIT,2020-03-16,Cash Withdrawal (cashwdl),Cash Withdrawal
85,M51654228,FT,39104.24,92950.36,CREDIT,2020-03-18,Principal Mutual Fund,Investment
86,M51983449,FT,33070.22,126020.58,CREDIT,2020-03-19,Motilal Oswal,Investment
87,M52641891,FT,62438.37,187942.95,CREDIT,2020-03-19,Principal Mutual Fund,Investment
88,M52971112,FT,106982.95,294925.90,CREDIT,2020-03-19,MTL OSWL,Investment
89,M53300333,FT,150000.00,144925.90,DEBIT,2020-03-21,SAL FINTECH PRODUCTS and SOLUTIONS,Investment
90,M54946438,FT,1574.00,92291.82,DEBIT,2020-03-25,Unknown,Other
91,M56263322,CASH,10000.00,81601.46,DEBIT,2020-03-29,Cash Withdrawal (cashwdl),Cash Withdrawal
92,M56921764,OTHERS,594.00,80996.46,CREDIT,2020-03-30,Unknown,Other
93,M57250985,FT,2138.00,78858.46,DEBIT,2020-03-30,TP Kotak Life Insurance,Insurance
94,M57580206,CARD,1575.00,77283.46,DEBIT,2020-04-02,Mariya Mart,Groceries
95,M58238648,FT,503.00,76600.46,DEBIT,2020-04-07,Dish TV India (Dish Infra),Bills
96,M58897090,FT,2024.55,74425.91,DEBIT,2020-04-07,TP ExideLife Insurance,Insurance
97,M59226311,FT,5000.00,69425.91,DEBIT,2020-04-07,BSE ISIP,Investment
98,M59555532,FT,5000.00,64425.91,DEBIT,2020-04-07,Unknown,Other
99,M59884753,FT,5000.00,59425.91,DEBIT,2020-04-08,BSE ISIP,Investment
100,M60543195,OTHERS,3062.00,56450.47,DEBIT,2020-04-08,AD LIC,Insurance
101,M60872416,FT,974.00,55476.47,DEBIT,2020-04-08,Unknown,Other
102,M61201637,FT,15408.00,40068.47,DEBIT,2020-04-08,Credit Card,Credit Card
103,M61530858,FT,100000.00,140068.47,CREDIT,2020-04-09,SAL FINTECH PRODUCTS and SOLUTIONS,Investment
104,M61860079,FT,15000.00,125068.47,DEBIT,2020-04-09,Rent,Rent
105,M62189300,FT,12000.00,115068.47,DEBIT,2020-04-09,EMI,Loan (EMI)
106,M64164626,FT,30000.00,69343.47,DEBIT,2020-04-25,HDFCLTD,Loan (EMI)
107,M66469173,FT,3294.00,64190.97,DEBIT,2020-05-02,Unknown,Other
108,M67127615,FT,2138.00,61962.97,DEBIT,2020-05-04,TP Kotak Life Insurance,Insurance
109,M68444499,FT,2024.55,59243.42,DEBIT,2020-05-06,TP ExideLife Insurance,Insurance
110,M68773720,FT,150000.00,159243.42,CREDIT,2020-05-07,SAL FINTECH PRODUCTS and SOLUTIONS,Investment
111,M69761383,FT,5000.00,147857.42,DEBIT,2020-05-09,BSE ISIP,Investment
112,M70090604,OTHERS,3062.00,144795.42,DEBIT,2020-05-09,AD LIC,Insurance
113,M70419825,FT,12000.00,135795.42,DEBIT,2020-05-09,Unknown,Other
114,M70749046,FT,9000.00,131053.42,DEBIT,2020-05-10,Unknown,Other
115,M71078267,FT,4742.00,115657.42,DEBIT,2020-05-11,HDFC CC PMT (HDFC Credit Card Payment),Credit Card
116,M71407488,FT,15000.00,100657.42,DEBIT,2020-05-15,Rent,Rent
117,M72065930,FT,30000.00,70600.42,DEBIT,2020-05-19,HDFCLTD,Loan (EMI)
118,M73712035,OTHERS,12.00,68415.42,DEBIT,2020-05-24,PMSBY,Insurance
119,M74041256,FT,4058.00,64357.42,DEBIT,2020-05-25,Unknown,Other
120,M75358140,FT,2138.00,61125.42,DEBIT,2020-06-03,TP Kotak Life Insurance,Insurance
121,M76675024,FT,2024.55,50851.87,DEBIT,2020-06-04,TP ExideLife Insurance,Insurance
122,M77333466,FT,100000.00,141851.87,CREDIT,2020-06-08,SAL FINTECH PRODUCTS and SOLUTIONS,Investment
123,M77991908,FT,3000.00,133851.87,DEBIT,2020-06-11,BSE ISIP,Investment
124,M78321129,OTHERS,3062.00,130789.87,DEBIT,2020-06-11,AD LIC,Insurance
125,M78650350,FT,30000.00,100789.87,DEBIT,2020-06-11,HDFCLTD,Loan (EMI)
126,M78979571,FT,16037.22,116827.09,CREDIT,2020-06-13,Principal Mutual Fund,Investment
127,M79308792,FT,15691.88,132518.97,CREDIT,2020-06-16,Motilal Oswal,Investment

In [1]:
output_df.to_json("output_df.json", orient = 'records')

NameError: name 'output_df' is not defined

In [96]:
category_wise_exp.to_csv("category_list.csv")