In [1]:
import json
import csv
import pandas as pd
import numpy as np

In [11]:
def json2csv(json_name, csv_name, key):
    with open(json_name) as json_file:
        data = json.load(json_file)
    transaction_data = data[key]
    data_file = open(csv_name, 'w') 
    csv_writer = csv.writer(data_file)
    count = 0
    for tran in transaction_data:
        if count == 0: 
            # Writing headers of CSV file 
            header = tran.keys()
            csv_writer.writerow(header) 
            count += 1
        # Writing data of CSV file 
        csv_writer.writerow(tran.values())
    data_file.close()

In [19]:
json2csv('shreya_allfidata.json', 'bank_details.csv', 'accounts')

In [20]:
df = pd.read_csv('bank_details.csv')

In [21]:
df

,linkReferenceNumber,maskedAccountNumber,bank,profile,Summary,Transactions
0,11fabe78-0a59-4c721-8f3db-574e54779d236,XXXXXXXXXX1006,PNB,{'Holders': {'Holder': [{'name': 'Shreya Sinha...,"{'currentBalance': '554047', 'currency': 'INR'...",[{'transactionTimestamp': '2019-08-01T002:01:1...
1,4797da3f8-75df-42359-8e61-a710d7e114fa,XXXXXXXXXX5055,ICICI Bank,{'Holders': {'Holder': [{'name': 'Ms. Shreya S...,"{'branch': 'Jayanagar 4th Block', 'openingDate...","[{'Txnid': 'M4785435', 'Amount': '100000.00', ..."
2,4797daf8-75df-4359-u7861-a710d7e114fa,XXXXXXXXXX2424,Axis Bank,{'Holders': {'Holder': [{'name': 'Ms. Shreya S...,"{'branch': 'Jayanagar 4th Block', 'openingDate...","[{'txnid': 'M478522', 'amount': '200000.00', '..."
3,4797dadf8-7d5df-4359-8e61-a710d7e114fa,XXXXXXXXXX6932,Axis Bank,{'Holders': {'Holder': [{'name': 'Ms. Shreya ...,"{'branch': 'Jayanagar 4th Block', 'openingDate...","[{'Txnid': 'M111223', 'Amount': '500000.00', '..."
4,d68ddda8-326d-42365-afd1-4f0822eb5d7e,XXXXXXXXXX1122,FinShareBankServer,{'Holders': {'Holder': [{'name': 'Shreya Sinha...,"{'branch': 'JayaNagar 4th Block', 'openingDate...","[{'Txnid': 'M2587459', 'Amount': '5000.00', 'N..."

In [23]:
df["Summary"]

0    {'currentBalance': '554047', 'currency': 'INR'...
1    {'branch': 'Jayanagar 4th Block', 'openingDate...
2    {'branch': 'Jayanagar 4th Block', 'openingDate...
3    {'branch': 'Jayanagar 4th Block', 'openingDate...
4    {'branch': 'JayaNagar 4th Block', 'openingDate...
Name: Summary, dtype: object

In [25]:
type(df.at[0,"Summary"])

str

In [26]:
df.at[1,"Summary"]

"{'branch': 'Jayanagar 4th Block', 'openingDate': '2019-12-22', 'ifsc': 'ICIC0001124', 'accountType': 'FIXED', 'maturityAmount': '105622.00', 'maturityDate': '2021-01-16', 'description': '390 Days Cumulative Term Deposit ', 'interestPayout': 'OnMaturity', 'interestRate': '5.15', 'principalAmount': '100000.00', 'tenureDays': '390', 'tenureMonths': '0', 'tenureYears': '0', 'interestComputation': 'COMPOUND', 'compoundingFrequency': 'QUARTERLY', 'interestPeriodicPayoutAmount': '0', 'interestOnMaturity': '5622', 'currentValue': '100000.00'}"

In [27]:
# li = df["Summary"][0].split(',')
# li

In [28]:
# stri = df.at[0,"Summary"].replace("{","")
# stri = stri.replace("'",'')

In [29]:
#stri

In [30]:
#li = stri.split(',')
#li

In [31]:
#balance = li[0].split(':')

In [32]:
# current_balance = balance[1].strip()
# bank_name = df.at[0,"bank"]
# bank_name

In [33]:
df.shape

(5, 6)

In [34]:
bank_name, account_type, account_no, balances = [], [], [], []
for i in range(df.shape[0]):
    type_ac = ''
    li = ''
    sti1 = ''
    type_account1 = ''
    stri1 = df.at[i,"Summary"].replace("{","")
    stri1 = stri1.replace("'",'')
    #print(stri1)
    li = stri1.split(',')
    #print(li)
    type_ac = li[4].split(':')
    #print(type_ac)
    type_account1 = type_ac[1].strip() 
    #print(type_account1)
    if type_account1 == "SAVINGS":
        #print("in")
        bank_name1 = df.at[i,"bank"] #Bank name
        balance = li[0].split(':')
        current_balance1 = balance[1].strip() #Current balance
        account_no1 = df.at[i,"maskedAccountNumber"] #Account no
        bank_name.append(bank_name1)
        account_type.append(type_account1)
        account_no.append(account_no1)
        balances.append(current_balance1)
        
        #Account Type
        #print (bank_name1, current_balance1, account_no1, type_account1)

In [35]:
balances

['554047']

In [36]:
df_out = pd.DataFrame({"bankName": bank_name, "currentBalance": balances, "accountNo": account_no, "typeAccount": account_type})
df_out

  bankName currentBalance       accountNo typeAccount
0      PNB         554047  XXXXXXXXXX1006     SAVINGS

In [37]:
df_out.to_json("../web-app/server/src/output_df.json", orient = 'records')