In [1]:
import pandas as pd
import numpy as np
import random
import collections
import string
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder

In [2]:
'''
Each set of transactions having 5 transactions
Each transaction should have 6 brands (max)
few regularly appearing in almost all transactions
few appearing twice in one transaction 
few brands appearing in only one or two transactions max
Try to keep 1 or 2 brands having high support (appearing commonly)
'''

'\nEach set of transactions having 5 transactions\nEach transaction should have 6 brands (max)\nfew regularly appearing in almost all transactions\nfew appearing twice in one transaction \nfew brands appearing in only one or two transactions max\nTry to keep 1 or 2 brands having high support (appearing commonly)\n'

In [3]:
set1 = [
        ['Uber', 'PVR', 'Cafe Coffee Day', 'Book My Show', 'Zomato'],
        ['Uber', 'PVR', 'Nykaa', 'Only', 'Zomato'],
        ['William Penn', 'PVR', 'Cafe Coffee Day', 'Nykaa', 'PVR', 'Uber'],
        ['Uber', 'Inox', 'Cafe Coffee Day', 'Book My Show', 'Only', 'Zomato'],
        ['Uber', 'Inox', 'Book My Show', 'Only', 'Zomato']
       ]

set2 = [
        ['Ola', 'Swiggy', 'Vogo', 'Amul', 'Max Clothing', 'Bluo'],
        ['Ola', 'Swiggy', 'Vogo', 'Kwality Bazaar', 'Bluo'],
        ['Ola', 'SK Rolls', 'Vogo', 'Kwality Bazaar'],
        ['Ola', 'SK Rolls', 'Vogo', 'Max Clothing', 'Bluo', 'Dish TV India (Dish Infra)'],
        ['Ola', 'Amul', 'Vogo', 'Kwality Bazaar', 'Dish TV India (Dish Infra)']
       ]

set3 = [
        ["Gilly's", 'Forever 21', 'Hairspeak', 'Hush Puppy', 'Starbucks', 'Smoke House'],
        ["Gilly's", 'Clear Trip', 'Smoke House', 'Netflix', 'Smoke House'],
        ["Gilly's", 'Hairspeak', 'iPlanet', 'Ray Ban', 'Reliance Digital', 'Netflix'],
        ['iPlanet', 'Starbucks', 'Ray Ban', 'Forever 21', 'Forever 21', 'Reliance Digital'],
        ["Gilly's", 'iPlanet', 'Clear Trip', 'Hush Puppy', 'Reliance Digital', 'Netflix']
       ]

set4 = [
        ['Casio', 'Raymond', 'Tanishq', 'Croma', 'Dunkin Donuts', 'Manyavar'],
        ['Casio', 'Raymond', 'Tanishq', 'Manyavar', 'Kaya Skin Clinic', 'Shopper Stop'],
        ['Casio', 'Croma', 'Dunkin Donuts', 'Kaya Skin Clinic', 'HomeTown'],
        ['Shopper Stop', 'Raymond', 'Croma', 'HomeTown'],
        ['Raymond', 'Tanishq', 'Croma', 'HomeTown', 'Shopper Stop']
       ]

set5 = [
        ['Fastrack', 'Burger King', 'Mi Store', 'Chin lung', 'Rolls on Wheel', 'Saxena Fruit Shop'],
        ['Fastrack', 'Burger King', 'Mi Store', 'Rolls on Wheel', 'Saxena Fruit Shop', 'Vans'],
        ['Fastrack', 'Chin lung', 'Rolls on Wheel', 'Vans', 'Patym Mall', 'Bangalore Central'],
        ['Fastrack', 'Burger King', 'Vans', 'Patym Mall', 'Bangalore Central'],
        ['Vans', 'Patym Mall', '', 'Burger King', 'Mi Store', 'Bangalore Central']
       ]

set6 = [
        ['Tissot', 'Crossword ', 'Land Mark', 'Plated', 'Meru Cabs', 'Sarjapur Social'], #Belgium Waffle, Corner House, Natural Icecream, Milano 
        ['Tissot', 'Crossword ', 'Land Mark', 'Plated', 'Meru Cabs', 'Sarjapur Social'],
        ['Crossword ', 'Land Mark', 'Plated', 'Smaash', 'Veremoda', ],
        ['Land Mark', 'Smaash', 'Sarjapur Social', 'Veremoda', 'Crossword'],
        ['Plated', 'Smaash', 'Meru Cabs', 'Veremoda', 'Plated']
       ]

set7 = [
        ['Spencers', 'Grofers', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', '']
       ]

set8 = [
        ['Zara', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', '']
       ]

set9 = [
        ['No Limmits', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', '']
       ]

set10 = [
        ['Tonique', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', '']
       ]

set11 = [
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', '']
       ]

set12 = [
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', '']
       ]

set13 = [
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', '']
       ]

set14 = [
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', '']
       ]

set15 = [
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', '']
       ]

set16 = [
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', '']
       ]

set17 = [
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', '']
       ]

set18 = [
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', '']
       ]

set19 = [
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', '']
       ]

set20 = [
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', '']
       ]

set21 = [
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', '']
       ]

set22 = [
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', '']
       ]

set23 = [
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', ''],
        ['', '', '', '', '', '']
       ]

In [133]:
te = TransactionEncoder()
te_ary = te.fit(set3).transform(set3)
df = pd.DataFrame(te_ary, columns=te.columns_)
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)

In [134]:
frequent_itemsets

   support                     itemsets
0      0.8                    (Gilly's)
1      0.6                    (Netflix)
2      0.6           (Reliance Digital)
3      0.6                    (iPlanet)
4      0.6           (Gilly's, Netflix)
5      0.6  (iPlanet, Reliance Digital)

In [135]:
ass_rules = association_rules(frequent_itemsets, metric="lift")#, min_threshold=1.26)

In [136]:
ass_rules.columns

Index(['antecedents', 'consequents', 'antecedent support',
       'consequent support', 'support', 'confidence', 'lift', 'leverage',
       'conviction'],
      dtype='object')

In [137]:
ass_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gilly's),(Netflix),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
1,(Netflix),(Gilly's),0.6,0.8,0.6,1.00,1.250000,0.12,inf
2,(iPlanet),(Reliance Digital),0.6,0.6,0.6,1.00,1.666667,0.24,inf
3,(Reliance Digital),(iPlanet),0.6,0.6,0.6,1.00,1.666667,0.24,inf

In [109]:
list(ass_rules["antecedents"][0])

['Veremoda']